
/* *********************************************************************************************************** */
/* **                                                 SLIDER                                               ** */
/* *********************************************************************************************************** */

/***********************************************
    General styles 
***********************************************/

#homepage-wrapper #xx_header {
  padding-top: 0px;
}
#homepage-wrapper #xx_header .xx_slider {
  position: relative;;
  @include box-shadow(0px 0px 12px #dcdbda);
}

#homepage-wrapper #xx_header .xx_slider .bx-pager {
  /* box */
  margin-top: 20px;
  /* font */
  text-align: center;
}
#homepage-wrapper #xx_header .xx_slider .bx-pager .bx-pager-item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-left: 5px;
}
#homepage-wrapper #xx_header .xx_slider .bx-pager .bx-pager-item {
  *display: inline;
}
#homepage-wrapper #xx_header .xx_slider .bx-pager .bx-pager-item:first-child {
  margin-left: 0;
}
#homepage-wrapper #xx_header .xx_slider .bx-pager .bx-pager-item a {
  /* box */
  height: 20px;
  width: 20px;
  display: block;
  border: none;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  /* background */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #3f3f3f;

  &:after {
    content: "\f04b";
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 6%;
    color: inherit;
  }
}

#homepage-wrapper #xx_header .xx_slider .bx-pager .bx-pager-item a.active {
  background: #3f3f3f;
}

#homepage-wrapper #xx_header .xx_slider ul {
  /* box */
  margin: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}
#homepage-wrapper #xx_header .xx_slider ul li {
  /* position */
  position: relative;
  /* box */
  //height: 386px;
}
#homepage-wrapper #xx_header .xx_slider ul li .xx_img_wrapper > a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#homepage-wrapper #xx_header .xx_slider ul li .xx_img_wrapper img {
  width: 100%;
}

#homepage-wrapper #xx_header .xx_slider ul li .xx_img_wrapper img:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
}



@media (max-width: 767px) {

  #homepage-wrapper #xx_header .xx_slider {
    //display: none;
    margin-top: 5%;
  } 
   /******* MOBILE HEADER **********/
  
  #homepage-wrapper #xx_header_mobile {
    display: block;
  }

  /****** Mobile Homepage *******/
  #homepage-wrapper #xx_footer,
  #homepage-wrapper #xx_content {
    display: none;
  }
  // quick fix
  #homepage-wrapper #xx_header {
    display: block;
    width: 302px;
    height: 160px;
    margin: 0 auto 4%;
  }
  
}