/* ==========================================================================

	BASE

========================================================================== */

// NORMALIZE THROUGH BOWER_COMPONENTS
@import "../../../_bower_components/normalize-scss/normalize.scss";

// SITE BACKGROUND REMOVAL

html, body, #main{
	background: #ffffff !important;
}

// NAVBAR FIX
#navigationHolderContainer #navigationHolder{
	background: #555555;
}

// BORDER BOX 
#homepage-wrapper{
	box-sizing: border-box;
  color: #454545;
  font-size: 75%;
  line-height: 1.5;

  *, *:before, *:after {
		box-sizing: inherit;
	}

	img{
		max-width: 100%;
	}
}

#homepage-wrapper #xx_header .xx_slider ul li div a{
	color: #ffffff;
	display: inline-block;
	font-size: 13px;
	font-weight: 100;
	line-height: 37px;
	padding: 0 10px;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}