/* ==========================================================================

	LAYOUT

========================================================================== */

$baseline: 18px;

/* ================================
	OPEN NESTING
================================ */

#homepage-wrapper{
	background: #ffffff;
	//box-shadow: 0 0 5px rgba(0,0,0,0.4);
	font-size: 13px;
	margin-left: 30px;
	max-width: 1170px;
	width: 98%;

	@media only screen and(max-width: 1199px){
		margin-left: 20px;
	}

	@media only screen and(max-width: 767px){
		margin-left: 0;
		width: 100%;
	}


/* ================================
	SLIDER
================================ */

.xx_slider{
	// box-shadow: 0 0 5px #454545;
	// box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin-bottom: $baseline * 6;
	//padding-bottom: percentage(410/1170);
	position: relative;
	width: 100%;

	@media only screen and(max-width: 1199px) {
		margin-bottom: $baseline * 5;
	}

	@media only screen and(max-width: 979px) {
		margin-bottom: $baseline * 3;
	}

	@media only screen and(max-width: 767px){
		margin: 10px 0;
	}
}

.bottom-bar{
	pointer-events: none;
	position: absolute;
		//bottom: -23px;
		bottom: -60px;
	width: 100%;

	@media only screen and(max-width: 1199px){
		bottom: -50px;
	}

	@media only screen and(max-width: 979px){
		bottom: -30px;
	}
}

.bottom-overlay{
	max-width: 100%;
	position: absolute;
		bottom: -5px;

	@media only screen and(max-width: 979px){
		display: none;
	}
}

// COPY-AREA

.slide-copy{
	background: url(../../images/transparent-bg.png);
	color: #ffffff;
	padding: 2.7% 2.5%;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 33%;

	h2{
		border-bottom: 2px solid #ffffff;
		font-family: "Proxima Nova Extra Condensed";
		font-size: 72px;
		font-weight: 100;
		line-height: 72px;
		margin: 0 0 .6em;
		padding-bottom: .05em;
	}

	p{
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 100;
	}
}

// CTA

.overall-cta{
	height: 100%;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	width: 100%;
	// z-index: 1;
}

.slide-cta{
	background: url(../../images/transparent-bg.png);
	border: 3px solid #ffffff;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 100;
	padding: 9px 15px;
	position: absolute;
		right: 30px;
		bottom: 110px;
	text-decoration: none;

	&:after{
		content: "";
		font-family: "FontAwesome", "Font Awesome";
		margin-left: 78px;
		padding: 0 5px;
	}
}

// BX-SLIDER OVERWRITE

.bx-wrapper{
	margin-bottom: 0;
	// position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
}

.bx-viewport.bx-viewport{
	border: none;
	box-shadow: none;
	height: auto !important;
	left: 0;
}

.bx-pager{
	display: block !important;
	margin: 0 auto;

	&.one-slide{
		width: 120px;

		@media only screen and(max-width: 979px){
			width: 90px;
		}
	}

	&.two-slides{
		width: 274px;

		@media only screen and(max-width: 979px){
			width: 200px;
		}
	}

	&.three-slides{
		width: 428px;

		@media only screen and(max-width: 979px){
			width: 310px;
		}
	}

	@media only screen and(max-width: 767px){
		display: none !important;
	}

	a{
		float: left;
		margin-right: 33px;
		pointer-events: auto;

		&:last-child{
			margin-right: 0;
		}

		@media only screen and(max-width: 979px){
			margin-right: 20px;
			width: 90px;
		}
	}

	img{
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
}

.bx-controls, .bx-controls-direction{
	pointer-events: none;
	height: 100%;
	width: 100%;

	.bx-prev, .bx-next{
		pointer-events: auto;
	}
}

.bx-controls{
	display: none;
	height: 95%;
	position: absolute;
		top: 0;

	@media only screen and(max-width: 767px) {
		display: block;
	}

 	.bx-prev.bx-prev {
    background: url(../../images/slider-controls@2x.png) no-repeat 0px center;
    background-size: cover;
    position: absolute;
    	top: inherit;
    	bottom: 40%;
	    left: 4px;
	    z-index:0;
  }

  .bx-next.bx-next {
    background: url(../../images/slider-controls@2x.png) no-repeat -34px center;
    background-size: cover;
    position: absolute;
    	top: inherit;
    	bottom: 40%;
    	right: 4px;
    	z-index:0;
  }
}

.bxslider{
	margin-left: 0;

	li{
		display: block;
		position: relative;
		height: 410px;
		font-size: 17px;
  		text-transform: uppercase;
	}
}

@media (max-width:1199px){
	.bxslider{
		margin-left: 0;

		li{
			position: relative;
			height: 330px;
		}
	}
}

@media (max-width:979px){
	.bxslider{
		margin-left: 0;

		li{
			position: relative;
			height: 256px;
		}
	}
}

@media (max-width:767px){
	.bxslider{
		margin-left: 0;

		li{
			position: relative;
			height: 260px;
		}
	}
}

/* ================================
	MAIN-CONTENT
================================ */

.content-row{
	display: flex;
	margin-bottom: $baseline;
	max-width: 100%;
	width: 100%;

	@media only screen and(max-width: 767px){
		display: none;
	}

	&:after{
		clear: both;
		content: "";
		display: table;
	}
}

.department-block, .product-department, .product-category, .gender-split, .gender, .gender-transition{
	display: inline-block;
	float: left;
	line-height: 100%;
	position: relative;

	img{
		float: left;
	}

	&:last-child{
		margin-right: 0;
	}
}

.product-department, .product-category{
	p{
		background: #ffffff;
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 0;
		position: absolute;
			bottom: 0;
		width: 100%;

		@media only screen and(max-width: 979px){
			font-size: .8em;
		}

		@media only screen and(max-width: 767px){
			display: none;
		}
	}
}

.product-department{
	height: 323px;
	margin-right: 6px;
	max-width: 288px;
	width: percentage(288/1170);

	@media only screen and(max-width: 1199px){
		height: 260px;
		margin-right: 4px;
	}

	@media only screen and(max-width: 979px){
		height: 201px;
	}

	@media only screen and (max-width: 767px){
		margin-bottom: 1em;
		width: percentage(147/302);
	}

	p{
		padding: 10px 10% 60px;
		text-align: center;
	}

	.cta{
		@media only screen and (max-width: 1199px){
			margin-left: -(percentage(185/205) / 2);
			width: percentage(185/205);
		}
	}

	&:first-child + .product-department{
		@media only screen and (max-width: 767px){
			margin-right: 0;
		}
	}
}

.product-category{
	height: 324px;
	max-width: 49.6280%;

	@media only screen and(max-width: 1199px){
		height: 259px;
	}

	@media only screen and(max-width: 979px){
		height: 199px;
	}

	@media only screen and(max-width: 767px){
		margin-top: 20px;
		max-width: 100%;
		width: 100%;
	}

	p{ 
		padding: 10px percentage(210/582) 22px percentage(30/582);
		text-align: left;

		@media only screen and(max-width: 979px){
			padding-right: percentage(170/362);
		}
	}

	.cta, .cta2{
		position: absolute;
			left: inherit;
			right: 3.4364%;
		width: percentage(170/582);

		@media only screen and(max-width: 979px){
			width: percentage(145/362);
		}

		@media only screen and(max-width: 767px){
			width: percentage(151/302);
		}
	}
}

.gender-split{
	width: 74.7863%;

	@media only screen and(max-width: 767px){
		width: 100%;
	}
}

.gender{
	float: left;
	max-width: 386px;
	width: 44.065%;

	@media only screen and(max-width: 767px){
		width: 50%;
	}
}

.gender-transition{
	float: left;
	max-width: 104px;
	width: 11.87%;

	@media only screen and(max-width: 767px){
		display: none;
	}
}

.cta, .cta2{
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	line-height: 26px;
	margin-left: -(percentage(170/288) / 2);
	padding: 0 10px 0 7px;
	position: absolute;
		bottom: 15px;
		left: 50%;
	text-decoration: none;
	width: percentage(170/288);

	&:after{
		content: "";
		float: right;
		font-family: "FontAwesome", "Font Awesome";
		font-size: .8em;
	}

	&:hover{
		padding-right: 7px;
	}
}

.cta-dark{
	background: url(../../images/transparent-bg.png);
	border: 2px solid #ededed;
	color: #ededed;
	transition: all .2s ease-in-out;

	&:hover{
		box-shadow: 0 0 10px rgba(0,0,0,.6);
		color: #ffffff;
	}
	// little .de fix
	@media only screen and(max-width: 767px){
		&.de-fix{
			font-size: 11px;
		}
	}
}

.cta-light{
	background: #ffffff;
	border: 2px solid #454545;
	color: #454545;
	transition: all .2s ease-in-out;

	&:hover{
		box-shadow: 0 0 10px rgba(0,0,0,.3);
	}
}

.cta-gender{
	@media only screen and(max-width: 767px){
		margin-left: 0;
		position: absolute;
			left: 5%;
			bottom: 10px;
		width: 90%;
	}
}

.hide-mobile{
	@media only screen and(max-width: 767px){
		display: none;
	}
}

.clearfix:after{
	clear: both;
	content: "";
	display: table;
}

/* ================================
	CLOSE NESTING
================================ */

}














