/* ==========================================================================

	LAYOUT

========================================================================== */

/* ================================
	SASS-FILES SLIDER
================================ */

@import "partials/tabs";
@import "partials/homepage_slider_fr_nl";
//@import "partials/fonts";
@import "partials/hp_int_content";
@import "partials/brandshowcase";
@import "partials/usp";
@import "partials/slider";

$baseline: 18px;

/* ================================
	OPEN NESTING
================================ */

#homepage-wrapper{
	background: #ffffff;
	//box-shadow: 0 0 5px rgba(0,0,0,0.4);
	font-size: 13px;
	margin-left: 30px;
	max-width: 1170px;
	width: 98%;

	@media only screen and(max-width: 1199px){
		margin-left: 20px;
	}

	@media only screen and(max-width: 767px){
		margin-left: 0;
		width: 100%;
	}


// fix voor margin 
#xx_header {
	margin-left: 0;
	margin-bottom: 2em;
	@media (max-width: 767px) {
		margin-left: auto;
	}
}


/* ================================
	MAIN-CONTENT
================================ */

.content-row{
	margin-bottom: $baseline;
	max-width: 100%;
	width: 100%;

	@media only screen and(max-width: 767px){
		display: none;
	}

	&:after{
		clear: both;
		content: "";
		display: table;
	}
}

.department-block, .product-department, .product-category, .gender-split, .gender, .gender-transition{
	display: inline-block;
	float: left;
	line-height: 100%;
	position: relative;

	img{
		float: left;
	}

	&:last-child{
		margin-right: 0;
	}
}

.product-department, .product-category{
	p{
		background: #ffffff;
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 0;
		position: absolute;
			bottom: 0;
		width: 100%;

		@media only screen and(max-width: 979px){
			font-size: .8em;
		}

		@media only screen and(max-width: 767px){
			display: none;
		}
	}
}

.product-department{
	height: 323px;
	margin-right: 6px;
	max-width: 288px;
	width: percentage(288/1170);

	@media only screen and(max-width: 1199px){
		height: 260px;
		margin-right: 4px;
	}

	@media only screen and(max-width: 979px){
		height: 201px;
	}

	@media only screen and (max-width: 767px){
		margin-bottom: 1em;
		width: percentage(147/302);
	}

	p{
		padding: 10px 10% 60px;
		text-align: center;
	}

	.cta{
		@media only screen and (max-width: 1199px){
			margin-left: -(percentage(185/205) / 2);
			width: percentage(185/205);
		}
	}

	&:first-child + .product-department{
		@media only screen and (max-width: 767px){
			margin-right: 0;
		}
	}
}

.product-category{
	height: 324px;
	max-width: 49.6280%;

	@media only screen and(max-width: 1199px){
		height: 259px;
	}

	@media only screen and(max-width: 979px){
		height: 199px;
	}

	@media only screen and(max-width: 767px){
		margin-top: 20px;
		max-width: 100%;
		width: 100%;
	}

	p{ 
		padding: 10px percentage(210/582) 22px percentage(30/582);
		text-align: left;

		@media only screen and(max-width: 979px){
			padding-right: percentage(170/362);
		}
	}

	.cta, .cta2{
		position: absolute;
			left: inherit;
			right: 3.4364%;
		width: percentage(170/582);

		@media only screen and(max-width: 979px){
			width: percentage(145/362);
		}

		@media only screen and(max-width: 767px){
			width: percentage(151/302);
		}
	}
}

.gender-split{
	width: 74.7863%;

	@media only screen and(max-width: 767px){
		width: 100%;
	}
}

.gender{
	float: left;
	max-width: 386px;
	width: 44.065%;

	@media only screen and(max-width: 767px){
		width: 50%;
	}
}

.gender-transition{
	float: left;
	max-width: 104px;
	width: 11.87%;

	@media only screen and(max-width: 767px){
		display: none;
	}
}

.cta, .cta2{
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 400;
	height: 30px;
	line-height: 26px;
	margin-left: -(percentage(170/288) / 2);
	padding: 0 10px 0 7px;
	text-decoration: none;
	width: percentage(170/288);

	&:after{
		content: "";
		float: right;
		font-family: "FontAwesome", "Font Awesome";
		font-size: .8em;
	}

	&:hover{
		padding-right: 7px;
	}
}

.cta{
	position: absolute;
		bottom: 15px;
		left: 50%;
	}

.cta2{
	position: absolute;
		bottom: 60px;
		left: 50%;
	}


.cta-dark{
	background: url(../../images/transparent-bg.png);
	border: 2px solid #ededed;
	color: #ededed;
	transition: all .2s ease-in-out;

	&:hover{
		box-shadow: 0 0 10px rgba(0,0,0,.6);
		color: #ffffff;
	}
	// little .de fix
	@media only screen and(max-width: 767px){
		&.de-fix{
			font-size: 11px;
		}
	}
}

.cta-light{
	background: #ffffff;
	border: 2px solid #454545;
	color: #454545;
	transition: all .2s ease-in-out;

	&:hover{
		box-shadow: 0 0 10px rgba(0,0,0,.3);
	}
}

.cta-gender{
	@media only screen and(max-width: 767px){
		margin-left: 0;
		position: absolute;
			left: 5%;
			bottom: 10px;
		width: 90%;
	}
}

.hide-mobile{
	@media only screen and(max-width: 767px){
		display: none;
	}
}

.clearfix:after{
	clear: both;
	content: "";
	display: table;
}

/* ================================
	CLOSE NESTING
================================ */

}

