
/* *********************************************************************************************************** */
/*                                             SLIDER ayacucho                                                  ** */
/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_fix.jpg') no-repeat;
  -webkit-font-smoothing:antialiased;
}

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho.eng {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_fix_en.jpg') no-repeat;
  -webkit-font-smoothing:antialiased;
}

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho.uk {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_fix_uk.jpg') no-repeat;
  -webkit-font-smoothing:antialiased;
}

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho.fra {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_fix_fr.jpg') no-repeat;
  -webkit-font-smoothing:antialiased;
}

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content {
  position: absolute;
  width: 75%;
  top: 9%; /*Oorspr: 29*/
  left: 5.5%; /*Oorspr: 0 - 14*/
  color: #434341;
  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .rood{
  color: #941612;
  }

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content {
  color: #fff;
  text-align: left; /*Oorspr: center;*/


  .main-title {
    display: inline-block;
    /*font-weight: 100;*/
    font-size: 18px;
    line-height: 120%;
    color: #434341;
    /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);*/
    /*text-transform: uppercase;*/
    margin: 0;
    /*margin-bottom: 1.5%;*/
  }

    .main-content {
      font-size: 18px; /*Oorspr: 20*/;
      margin-bottom: 19%; 
      color: #434341;
    }

    .main-content.quality {
      font-size: 12px;
      text-align: center;
      margin-left: 19.5%;
      margin-bottom: 0.5%;
      font-weight: 700;
    }

    .main-content.small {
      font-size: 11px;
      color: #434341;
      text-align: center;
      margin-bottom: 0.5%;
      margin-left: 19.5%;
      line-height: 130%;
    }

    .main-content.small.fr{
      font-size: 10px;
      margin-bottom: 0;
    }

    .main-content.red {
      font-size: 12px;
      text-transform: uppercase;
      color: #941612; /*ROOD*/
      text-align: center;
      margin-bottom: 0.5%;
      margin-left: 19.5%;
      font-weight: 700;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .xx_cta { 
  font-weight: 600;
  width: 20%;
  text-align: left;
  margin-top: 0;
  background: #0070b0;
  color: #fff;
  margin-bottom: 7%;
  margin: 0 auto;
  margin-right: 1%;

  &:hover {
    background: darken(#0070b0, 6%);
  }
}

//LINKS FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .xx_cta.left { 
    margin-left: 38.5%;
  }


//EN FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.en .content .xx_cta { 
    width: 24%;
  }

//FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.fr .content { 

  .main-content{
    padding: 0 20px;
  }

  @media (max-width: 1200px) {
  }
  @media (min-width: 768px) and (max-width: 979px) {
  }
  @media (max-width: 767px) {
    top: 15%;
    }
  }


// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content {

    top: 7%; /*Oorspr: 29*/

    .main-title {
      font-size: 14px;
    }

    .main-content{
      font-size: 14px;
      margin-bottom: 16.5%;
    }

    .main-content.small{
      font-size: 9.5px;
      margin-bottom: 0;
    }

    .main-content.small.fr{
      font-size: 8.5px;
      margin-bottom: 0;
    }

    .main-content.red{
      font-size: 9.5px;
      margin-bottom: 0;
    }

    .main-content.quality{
      font-size: 9.5px;
      margin-bottom: 0;
    }

    .xx_cta {
      width: 22%;
    }
  }

  //CTA KLEINER
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho div a{
    line-height: 33px;
    height: 33px;
  }

  //EN FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.en .content .xx_cta { 
    width: 28%;
  }


//LINKS FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .xx_cta.left { 
    margin-left: 35.8%;
  }

}


/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content {
    width: 74%;
    top: 7%;

    .main-title {
      font-size: 11px;
    }

    .main-content {
      font-size: 11px;
      margin-top: -1%;
      margin-bottom: 17%;
    }

    .xx_cta {
      text-align: left;
      padding-left: 10px;
      margin-bottom: 6%;
      width: 20%;

      &:after {
        display: block;
        font-size: 8px;
      }
    }

    .main-content.small{
      display: none;
    }

    .main-content.red{
      font-size: 9.5px;
      margin-bottom: 0.5%;
      width: 40%;
      line-height: 1.5;
      margin-left: 40%;
    }

    .main-content.quality{
      font-size: 10.5px;
      margin-bottom: 0.5%;
    }
    
  }

//LINKS FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .xx_cta.left { 
    margin-left: 37.1%;
  }
  
  //EN FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.en .content .xx_cta { 
    width: 17%;
  }

  //CTA KLEINER
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho div a{
    line-height: 25px;
    height: 25px;
  }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_mobile.jpg') no-repeat;
    background-color: #941612;
  }

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.eng {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_mobile.jpg') no-repeat;
    background-color: #941612;
  }

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.fra {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-ayacuchodons_mobile.jpg') no-repeat;
    background-color: #941612;
  }

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content {
    top: 30%;
    width: 100%;
    left: 0%;
    text-align: center;

    .main-title {
      font-size: 10px;
      text-align: center;
      margin-left: 0%;
      display: none;
    }

    .main-content.important{
      display: none;
    }

    .xx_cta {
      width: 23%;
      font-size: 7px;
    }

    .main-content.small{
      display: none;
    }

    .main-content.red{
      font-size: 9.5px;
      margin-bottom: 0.5;
      width: 50%;
      padding-left: 25%;
      padding-right: 25%;
      line-height: 1.5;
      margin-left: 0%;
    }

    .main-content.quality{
      display: none;
    }
    
  }

  //EN FIX
  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho.en .content .xx_cta { 
    width: 40%;
  }

  #homepage-wrapper #xx_header .xx_slider ul li.ayacucho .content .xx_cta.left { 
    margin-left: 23.5%;
    margin-right: -21%;
  }

}


