
/* *********************************************************************************************************** */
/* **                                          SLIDER KERSTFOLDER 14 INT DE - UK                                      ** */
/* *********************************************************************************************************** */

ul li.kerstfolder {
  background: url(http://static.asadventure.com/includes/homepage/international/images/bg-kerstfolder-INT.jpg) no-repeat;
}

ul li.kerstfolder .content {
  position: absolute;
  width: 308px;
  top: 19%;
  left: 5%;
  text-align: center;

  h2, span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

ul li.kerstfolder .content {

  .ribbon {
    display: block;
    width: 163px;
    position: absolute;
    top: -78px;
    left: -58px;
  }

  .main-image {
    display: inline-block;
    margin-bottom: 6%;
  }

  .main-title {
    display: none;

  }

  .main-content {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #434244;
    line-height: 130%;
    margin-bottom: 3%;
  }

  .legal {
    font-size: 11px;
    margin-top: 3%;
    margin-bottom: 0;
    visibility: hidden;
  }
}

ul li.kerstfolder .content .kerst_cta {
  color:#FFFFFF;
  text-decoration:none;
  height:40px;
  line-height:42px;
  padding:0 15px;
  text-align:left;

  &:after{
    content:"";
    font-family:"FontAwesome";
    color:#FFFFFF;
    float:right;
    line-height:44px;
    padding-left:15px;
  }
}

.button{
  font-family:FontAwesome;
  text-align:right;
  color:#FFFFFF;
}
ul li.kerstfolder .content .kerst_cta { 
  background-color: #b11116;
  font-weight: 500;
  display: inline-block;
  font-size:12px;

  &:hover {
    background-color: #9c0d12;
  }
}

//animation
.animated-area{
  height: 360px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  right: 5.3%;
  width: 60.1%;
}
.small-snow{
  background: url(../../images/snow-small-kerst.png) no-repeat center center;
  background-size: contain;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;

  &.part-1{
    -webkit-animation: letItSnow1 48s infinite;
    animation: letItSnow1 48s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  &.part-2{
    -webkit-animation: letItSnow2 48s infinite;
    animation: letItSnow2 48s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}

.medium-snow{
  background: url(../../images/snow-medium-kerst.png) no-repeat center center;
  background-size: contain;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;

  &.part-1{
     -webkit-animation: letItSnow1 24s infinite;
    animation: letItSnow1 24s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  &.part-2{
     -webkit-animation: letItSnow2 24s infinite;
    animation: letItSnow2 24s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}

.large-snow{
  background: url(../../images/snow-large-kerst.png) no-repeat center center;
  background-size: contain;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 13;

  &.part-1{
    -webkit-animation: letItSnow1 12s infinite;
    animation: letItSnow1 12s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  &.part-2{
    -webkit-animation: letItSnow2 12s infinite;
    animation: letItSnow2 12s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}


// EN FIX
ul li.kerstfolder.en_fix .content {
  top: 25%;

  .ribbon {
    top: -103px;
  }
}

// IE8 fix 
@media \0screen {
  
} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  ul li.kerstfolder{
      background: url(http://static.asadventure.com/includes/homepage/international/images/bg-kerstfolder-INT.jpg) no-repeat;
      background-size:contain;
  }

  ul li.kerstfolder .content {
    top: 25%;
    left: 6%;
    width: 230px;

    .ribbon {
      width: 150px;
      margin-top: -5px;
    }

    .legal {
      font-size: 9px;
      margin-top: 2%;
    }

    .xx_cta {
      width: 77%;
      height: 30px;
      line-height: 30px;
      font-size: 12px;

      &:after {
        display: block;
        height: 30px;
        background-size: 9px 9px;
      }
    }
    
  }

ul li.kerstfolder .content .kerst_cta { 
  font-size:12px;

    &:after{
    padding-left:10px;
  }
}

  .animated-area {
    height: 273px;
    top: 19px;
  }

  // EN FIX
  ul li.kerstfolder.en_fix .content {
    .ribbon {
      top: -75px;
    }
  }
  
}



/* *********************************************************************************************************** */
/* **                                        TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  ul li.kerstfolder {
  background: url(http://static.asadventure.com/includes/homepage/international/images/bg-kerstfolder-INT.jpg) no-repeat;
  background-size:contain;
}

  ul li.kerstfolder .content {
    top: 20%;
    left: 5.5%;
    width: 190px;

    .ribbon {
      width: 120px;
      top: -46px;
      left: -40px;
    }

    .xx_cta {
      width: 90%;
      text-align: left;
      padding-left: 4%;
      margin-top: 3%;

      &:after {
        display: block;
        height: 30px;
        background-size: 9px 9px;
      }
    }

    .legal {
      font-size: 7px;
      margin-top: 0%;
    }
    
  }

  .animated-area {
    height: 211px;
    top: 15px;
  }

  // EN FIX
  ul li.kerstfolder.en_fix .content {
    top: 22%;
    .ribbon {
      top: -55px;
    }
  }

    .main-image {
    margin-bottom: -2%;
    margin-top:5px;
  }

}

ul li.kerstfolder .content .kerst_cta { 
  font-size:9px;

    &:after{
    padding-left:10px;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #xx_wrapper #xx_header .xx_slider ul li.kerstfolder .content .xx_cta:after {
    height: 25px;
  }
}

/* *********************************************************************************************************** */
/* **                                               MOBILE                                                 ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  ul li.kerstfolder {
  background: url(http://static.asadventure.com/includes/homepage/international/images/bg-kerstfolder-mobile@2x.jpg) no-repeat;
  background-size:contain;
}

  ul li.kerstfolder .content {
    left: 20%;
    width: 204px;
    align-items: center;
    margin-top:2px;

    .ribbon {
      display:none;
    }

    .xx_cta {
      width: 90%;
      text-align: left;
      padding-left: 4%;

      &:after {
        display: block;
        height: 30px;
        background-size: 9px 9px;
      }
    }

    .legal {
      font-size: 7px;
      margin-top: 0%;
    }
    
  }

  ul li.kerstfolder .content .kerst_cta { 
  font-size:9px;

    &:after{
    padding-left:10px;
  }
}

  .animated-area {
    height: 211px;
    top: 15px;
  }

  // EN FIX
  ul li.kerstfolder.en_fix .content {
    top: 22%;
    .ribbon {
      top: -55px;
    }
  }

}

// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) { 
//   #xx_wrapper #xx_header .xx_slider ul li.kerstfolder .content .xx_cta:after {
//     height: 25px;
//   }
// }
// /* *********************************************************************************************************** */
// /* **                                               MOBILE                                                  ** */
// /* *********************************************************************************************************** */
// @media (max-width: 414px) {

//   ul li.kerstfolder {
//     background: url(http://static.asadventure.com/includes/homepage/international/images/bg-kerstfolder-mobile@2x.jpg) no-repeat;
//     display:contain;
//     height:150px;
//   }

//   ul li.kerstfolder .content {
//     top: 10%;
//     width: 80%;
//     left: 22%;

//     .ribbon {
//       width: 89px;
//       top: -16px;
//       left: -66px;
//     }

//     .main-image {
//       width: 80%;
//     }

//     .xx_cta {
//       font-size: 9px;
//        height: 25px;
//       line-height: 25px;

//       &:after {
//         height: 25px;
//         background-size: 8px 8px;
//       }
//     }
    
//   }

//   a.kerst_cta {
//   font-size:10px;
// }

//   .animated-area {
//     height: 145px;
//     top: 8px;
//     width: 95%;
//     left: 7px;
//   }


//   // EN FIX
//   ul li.kerstfolder.en_fix .content {
//     top: 14%;

//     .main-image {
//       width: 100%;
//     }

//     .ribbon {
//       top: -22px;
//     }
//   }


// }

