/* *********************************************************************************************************** */


/*                                             SLIDER kerstfolder                                                  ** */


/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.kerstfolder {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-kerstfolder.jpg') no-repeat;
    -webkit-font-smoothing: antialiased;
}

#homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.fr {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-kerstfolder-fr.jpg') no-repeat;
    -webkit-font-smoothing: antialiased;
    .content {
        width: 50%;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.en {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-kerstfolder-en.jpg') no-repeat;
    -webkit-font-smoothing: antialiased;
    .content {
        top: 14%;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content {
    position: absolute;
    width: 40%;
    top: 9%;
    right: 27%;
    color: #fff;
    h2,
    span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content {
    color: #fff;
    text-align: center;
    .banner {
        display: none;
    }
    .main-title {
        display: inline-block;
        font-weight: 100;
        font-size: 32px;
        line-height: 120%;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 1.5%;
    }
    .main-content {
        font-size: 18px;
        /*Oorspr: 20*/
        ;
        margin-bottom: 1.5em;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content .xx_cta {
    font-weight: 600;
    width: 180px;
    background: none;
    margin: 1em auto;
    display: block;
    border: 2px solid white;
    height: 33px;
    /* zonder border 37px */
    line-height: 33px;
    /* idem */
    &:hover {
        background: #fff;
        color: #254862;
    }
}

// IE8 fix 
@media \0screen {}


/* *********************************************************************************************************** */


/* **                                              DESKTOP                                                  ** */


/* *********************************************************************************************************** */

@media (max-width: 1199px) {
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content {
        top: 3%;
        /*Oorspr: 29*/
        right: 28%;
        .main-title {
            font-size: 32px;
            margin-bottom: 0;
        }
        .main-content {
            font-size: 16px;
            margin: 0.6em 0 1em 0;
        }
        .xx_cta {
            height: 30px;
            line-height: 30px;
            margin: 0.7em auto;
            border: 1px solid white;
        }
    }
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.en .content {
        top: 10%;
    }
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.fr .content {
        top: 8%;
        .main-title {
            font-size: 25px;
        }
    }
}


/* *********************************************************************************************************** */


/* **                                               TABLET                                                  ** */


/* *********************************************************************************************************** */

@media (max-width: 979px) {
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content {
        width: 60%;
        right: 30%;
        text-align: right;
        .main-title {
            font-size: 25px;
        }
        .main-content {
            margin-right: 4%;
            margin-top: 0.4em;
        }
        .xx_cta {
            margin-right: 12%;
            height: 28px;
            line-height: 28px;
            width: 140px;
            &:after {
                display: block;
                font-size: 8px;
            }
        }
    }
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.fr .content {
        text-align: center;
        width: 65%;
        right: 26%;
        top: 3%;
        .main-title {
            font-size: 21px;
        }
        .main-content {
            font-size: 15px;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content .xx_cta:after {
        height: 25px;
    }
}


/* *********************************************************************************************************** */


/* **                                               MOBILE                                                  ** */


/* *********************************************************************************************************** */

@media (max-width: 767px) {
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder,
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.fr,
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.en {
        background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-kerstfolder-mobile.jpg') no-repeat;
        background-size: 100% !important;
    }
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder .content {
        top: 0;
        width: 100%;
        right: 0%;
        text-align: center;
        .banner {
            display: block;
            font-size: 10px;
            margin-bottom: 10px;
            margin-top: 0;
        }
        .main-title {
            font-size: 15px;
            text-align: center;
        }
        .main-content {
            margin: 0.2em 0 0;
            font-size: 12px;
        }
        .xx_cta {
            font-size: 10px;
            height: 23px;
            line-height: 23px;
            display: inline-block;
            margin: 8px 0 0 0;
            width: 205px;
        }
        .xx_cta.small {
            width: 55px;
        }
        .xx_cta.small.midden {
            margin: 8px 4px 0 4px;
        }
        .xx_cta:last-child {
            margin-left: -4px;
        }
    }
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.en .content {
        top: 0;
        margin-top: 0;
        .main-content {
            margin: 0.8em 0 0;
        }
        .banner {
            margin-bottom: 17px;
        }
        .xx_cta {
            margin: 16px 0 0 0;
        }
        .xx_cta.small.midden {
            margin: 16px 4px 0 4px;
        }
    }
    #homepage-wrapper #xx_header .xx_slider ul li.kerstfolder.fr .content {
        margin-top: 0;
        top: 0;
        width: 100%;
        right: 0;
        .main-title {
            font-size: 14px;
            text-align: center;
        }
        .main-content {
            font-size: 9px;
        }
    }
}