
/* *********************************************************************************************************** */
/*                                            SLIDER mid_season_sales                                           ** */
/* *********************************************************************************************************** */


.mid_season_sales {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-fr.jpg') no-repeat;
  background-size: contain;
}

.mid_season_sales .content {
  position: absolute;
  width: percentage(270/1170);
  top: 14%;
  left: percentage(160/1170);
  text-align: center;

  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

li.mid_season_sales .content {

  .main-logo {
    padding-bottom: 5px;
      margin: 0 auto;
      width: 100%;
  }

    .main-content {
  font-size: 10px;
  color: #3c241e;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
  border-top: 2px solid #3c241e;
  margin-top: 8px;
  padding-top: 8px;
  line-height: 110%;
  text-transform: uppercase;
    }

    .legal {
      font-size: 11px;
    margin-top: 3%;
    color: #3c241e;
    }


  }


#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta { 
   width: 95%;
  font-weight: 600;
  display: inline-block;
  margin-top: 1%;
  background-color: #3c241e;

  &::after{
    content: "\f04b"; /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 10px;
    color: inherit;
  }

  &:hover {
    background-color: #4D3934;
  }
}



  /* *********************************************************************************************************** */
  /* **                                              DESKTOP                                                  ** */
  /* *********************************************************************************************************** */
  @media (max-width: 1199px) {

      li.mid_season_sales .content {
    width: 224px;
    top: 17%;
    left: 13.5169340463%;


    .main-logo {
    width: 70%;
      
    }

      .main-content {
        font-size: 9px;
      margin-top: 6px;
      padding-top: 6px;
      margin-bottom: 7px;
      }

      .xx_cta {
        margin: 0;
        font-size: 11px;
      }

      .legal {
        font-size: 9px;
      margin-top: 1px;
      color: #3c241e;
      }


    }
      li.mid_season_sales.de_fix .content .xx_cta {
      font-size: 9px;
    }

  //EN FIX
  .mid_season_sales.en_fix .xx_txt .xx_cta {
      font-size: 11px;
    }

  }
  /* *********************************************************************************************************** */
  /* **                                               TABLET                                                  ** */
  /* *********************************************************************************************************** */
  @media (max-width: 979px) {

      li.mid_season_sales .content {
        width: 174px;


    .main-logo {
    }

      .main-content {
        border-top: none;
      margin-top: 3px;
      margin-bottom: 6px;
      }

      .xx_cta {
        width: 100%;
      }

      .legal {
        margin-top: 0;
        font-size: 8px;
        margin-bottom: 0;

      }


    }

  .mid_season_sales.en_fix .xx_txt .xx_cta {
    font-size: 10px;
  }

  //FR FIX
  .mid_season_sales.de_fix .content .xx_cta {
      font-size: 9px;
    }


  }
  /* *********************************************************************************************************** */
  /* **                                               MOBILE                                                  ** */
  /* *********************************************************************************************************** */
  @media (max-width: 767px) {

    .mid_season_sales {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-mobile-nl@2x.jpg') no-repeat;
    background-size: cover;
  }

.mid_season_sales .content {
  left: percentage(160/690);
  width: 170px;
}
// /*  .mid_season_sales.en_fix {
//     background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-mobile-en@2x.jpg') no-repeat;
//   }*/

//   .mid_season_sales .content {
//     width: 93px;
//     top: 8%;

//       .main-logo {
//       padding-bottom: 5px;
//         margin: 0 auto;
//     }

//       .main-content {
//         font-size: 7px;
//       border-top: 1px solid #3c241e;
//       margin-top: 1px;
//       padding-top: 3px;
//       margin-bottom: 3px;
//       }

//       .xx_cta {
//         font-size: 8px;
//         padding-left: 0;
//         text-align: center;

//         &:after {
//           display: none;
//         }
//       }

//       .legal {
//         font-size: 6px;
//       margin-top: -2%;
//       }
//   }

//   //FR FIX
//   .mid_season_sales.fr_fix .content .main-content {
//       font-size: 7px;
//     }


  }


