
/* *********************************************************************************************************** */
/*                                         SLIDER THOMAS COOK ACTIE                                         ** */
/* *********************************************************************************************************** */

#xx_wrapper #xx_header .xx_slider ul li.newfashion15 {
  background: url('../../images/bg-newfashion15.jpg') no-repeat;
}

#xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content {
  position: absolute;
  width: 24%;
  top: 8%;
  left: 3%;
  h2,h3, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

#xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content {
  color: #c2645f;
  text-align: left;

  .main-title {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 100%;
    color: inherit;
    margin-bottom: 8%;
  }

}

#xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content .xx_cta { 
  font-weight: 600;
  width: 80%;
  text-align: left;
  margin-top: 0;
  background: none;
  border: 1px solid #c2645f;
  color: #c2645f;
  margin-bottom: 7%;

  &:hover {
    background: #c2645f;
    color: #fff;
  }

  &:after {
    content: "\f04b"; /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 6%;
    color: inherit;
  }
}


// FR FIX
#xx_wrapper #xx_header .xx_slider ul li.newfashion15.fr_fix .content {
  width: 28%;
  top: 10%;
  left: 3%;

  .main-title {
    font-size: 42px;
    margin-bottom: 8%;
  }

  .xx_cta {
    width: 74%;
  }

}



// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content {
    width: 22%;
    top: 5%;
    left: 4%;

    .main-title {
      font-size: 37px;
    }

    .xx_cta {
      margin-bottom: 5%;
    }
    
  }

  // FR FIX
  #xx_wrapper #xx_header .xx_slider ul li.newfashion15.fr_fix .content {
    top: 5%;

    .main-title {
      font-size: 32px;
    }

  }

}


/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content {
    top: 4%;

    .main-title {
      font-size: 26px;
    }

    .xx_cta {
      text-align: left;
      padding-left: 4%;
      margin-bottom: 6%;

      &:after {
        display: block;
        font-size: 8px;
      }
    }
    
  }

  // FR FIX
  #xx_wrapper #xx_header .xx_slider ul li.newfashion15.fr_fix .content {
    top: 3%;

    .main-title {
      font-size: 24px;
    }

  }


}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #xx_wrapper #xx_header .xx_slider ul li.newfashion15 {
    background: url('../../images/bg-newfashion15-mobile@2x.jpg') no-repeat;
  }

  #xx_wrapper #xx_header .xx_slider ul li.newfashion15 .content,
  #xx_wrapper #xx_header .xx_slider ul li.newfashion15.fr_fix .content
   {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    .main-title {
      font-size: 23px;
      margin-bottom: 3%;
      text-shadow: 0 0 22px rgba(0, 0, 0, 0.59);
      color: #fff;
    }

    .xx_cta {
      width: 50%;
      font-size: 8px;
      background: #c2645f;
      color: #fff;
      margin-bottom: 1%;
      padding-left: 2%;

      &:last-child {
        margin-left: -4px;
      }
    }
    
  }


}


