/* *********************************************************************************************************** */
/*                                             SLIDER nualkorting                                         ** */
/* *********************************************************************************************************** */  

#homepage-wrapper #xx_header .xx_slider ul li.nualkorting {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-nualkorting.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.nualkorting .content {
    position: absolute;
    width: 75%;
    top: 6%;
    color: #fff;
    text-align: left;
    padding-left: 3%;
    h2,
    span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .main-title {
        display: inline-block;
        /*font-weight: 100;*/
        font-weight: 700!important;
        font-size: 41px;
        line-height: 120%;
        color: inherit;
        /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
        text-transform: uppercase;
        margin: 0;
        color: #95d5d2;
    }
    .main-content {
        font-size: 15px;
        margin: 1.0em 0 1.4em;
        width: 50%;
        line-height: 130%;
        color: #8c8c8c;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.nualkorting .content .xx_cta {
    font-weight: 600;
    width: 27%;
    text-align: left;
    margin: 0 0 10px;
    background: #95d5d2;
    color: #ffffff;
    display: block; /*override general styles = inline-block*/
    &:hover {
       background: darken(#95d5d2, 6%);
        color: #ffffff;
    }
    &.hide_mob {
       display: none;
    }
}

// IE8 fix 
@media \0screen {}


/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 1199px) {
    #homepage-wrapper #xx_header .xx_slider ul li.nualkorting .content {
        top: 5%;
        .main-title {
            font-size: 28px;
        }
        .main-content {
            font-size: 12px;
            width: 71%;
            margin: 0.9em 0 1.2em;
            &.fr{
                width: 64%;
            }    
        }
        .xx_cta {
            width: 32%;
            height: 32px;
            line-height: 32px;
        }
}

/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */

    @media (max-width: 979px) {
        #homepage-wrapper #xx_header .xx_slider ul li.nualkorting .content {
            top: 8%;
        .xx_cta {
            display: none;
            &.hide_mob {
               display: block;
               width: 30%;
               padding-left: 1%;
            }
        }
            .main-title {
                font-size: 25px;
                .hide_mobile{
                    display: none;
                } 
            }
            .main-content {
                font-size: 11px;
                margin: .6em 0 1em;
                width: 50%;
                &.fr{
                   width: 47%;
                   font-size: 10px;
                }  
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #homepage-wrapper #xx_header .xx_slider ul li.nualkorting .content .xx_cta:after {
        height: 25px;
    }
}


/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 767px) {
    #homepage-wrapper #xx_header .xx_slider ul li.nualkorting {
        background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-nualkorting-mobile.jpg') no-repeat;
    }
    #homepage-wrapper #xx_header .xx_slider ul li.nualkorting .content {
        width: 75%;
        margin-left: 13%;
        top: 5%;
        padding: 0;
        text-align: left;
                &.fr{
                   top: 2%;
                }  
        .main-title {
            font-size: 14px;
            margin-top: 0%;
                &.fr{
                    font-size: 12px !important;
                    margin-top: 9% !important;
                }  
        }
        .main-content {
            font-size: 8px;
            line-height: 130%;
            width: 100%;
            margin: .5em auto 1em;
            width: 103%;
            font-size: 9px;
                &.fr{
                    width: 103%;
                    font-size: 9px;
                }  
        }
        .xx_cta {
            display: none;
            &.hide_mob {
               display: block;
               width: 60%;
            }
        }
    }
}