
/* *********************************************************************************************************** */
/*                                             SLIDER presolden_LUX                                         ** */
/* *********************************************************************************************************** */

$oranje: #e6912b;

#homepage-wrapper #xx_header .xx_slider ul li.presolden_lux {
  background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-presolden2-lux.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.fr {
  background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-presolden-fr.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.presolden_lux .content {

  position: absolute;
  width: 41%;
  top: 28%;
  left: 6.5%;
  color: #ffffff;
  text-align: left;
  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .main-title {
    display: inline-block;
    font-weight: 100;
    font-size: 35px;
    line-height: 120%;
    color: #fffff;
    text-transform: uppercase;
    margin: 0;
    width: 54%;
    font-weight: 600;
  }

  .main-content {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    line-height: 125%;
    width: 54%;
  }

  .small {
    margin-top: 1%;
    font-size: 10px;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.presolden_lux .content .xx_cta { 
  font-weight: 600;
  display: block;
  width: 53%;
  height: 37px;
  text-align: left;
  margin-top: 0.9em;
  margin-right: 2%;
  background: #4590bd; /*blauw*/
  color: #fffff;
  padding-right: 0.3%;

  &:hover {
    background: #4590bd; /*blauw*/
  }

  &.show_mobile{display: none;}
}

// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #homepage-wrapper #xx_header .xx_slider ul li.presolden_lux .content {
    top:30%;

    .main-title {
      font-size: 17px;
    }

    .main-content{
      font-size: 13px;
      margin-bottom: -1%;
    }

    .xx_cta{
      height: 32px;
      line-height: 32px;
      padding-left: 2%;
      margin-right: 1%;
      width: 53%;
      margin-top: 2.5%;
    }

    .small {
      font-size: 9px;
    }
  }

/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #homepage-wrapper #xx_header .xx_slider ul li.presolden_lux .content {
    width: 46%;
    top: 30%;

    .xx_cta{
      height: 25px;
      line-height: 25px;
      padding-left: 2%;
      margin-right: 1%;
      width: 47%;
    }

    .main-title {
      font-size: 14px;
      margin-bottom: 0%;
    }

    .main-content {
      font-size: 9px;
      width: 50%;
      margin-top: 1%;
      }
    }
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #homepage-wrapper #xx_header .xx_slider ul li.presolden_lux .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #homepage-wrapper #xx_header .xx_slider ul li.presolden_lux {
  background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-presolden2-lux-mobile.jpg') no-repeat;
} 

  #homepage-wrapper #xx_header .xx_slider ul li.fr {
  background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-presolden-fr-mobile.jpg') no-repeat;
} 
  
  #homepage-wrapper #xx_header .xx_slider ul li.presolden_lux .content {
    width: 110%;
    top: 35%;
    left: 10%;

    .main-title {
      font-size: 12px;
    }

    .main-content {
      font-size: 8px;
      line-height: 130%;
    }

    .xx_cta{
      margin-top: 2%;
      font-size: 9.5px;
      line-height: 25px;
      width: 50%;
      height: 25px;
    
    &.hide_mobile{display: none;}
    &.show_mobile{display: block}
    }
   }
}