/* *********************************************************************************************************** */


/*                                             SLIDER splash                                         ** */


/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.splash {
    background: rgba(0, 0, 0, 0) url('http://static.asadventure.com/includes/homepage/national/new/images/bg-splash.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.splash .content {
    position: absolute;
    width: 75%;
    top: 6%;
    left: 0;
    h2,
    span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    color: #fff;
    text-align: center;
    .main-title {
        display: inline-block;
        font-weight: 100;
        font-size: 41px;
        line-height: 120%;
        color: inherit;
        /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
        text-transform: uppercase;
        margin: 0;
    }
    .main-content {
        text-shadow: 0 0 80px black;
        font-size: 18px;
        width: 60%;
        margin: 1em auto 0;
        line-height: 130%;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.splash .content .xx_cta {
    font-weight: 600;
    width: 27%;
    text-align: left;
    background: #00746b;
    color: #fff;
    padding-right: 0.3%;
    margin: 10.2em auto 0;
    &:hover {
        background: darken(#00746b, 6%);
    }
    &.links {
        margin-right: 2%;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.splash .content .legal {
    font-size: 12px;
    width: 80%;
    margin: 9px auto 0;
    text-shadow: none;
    font-weight: 600;
    line-height: 130%;
}


/* *********************************************************************************************************** */


/* **                                              DESKTOP                                                  ** */


/* *********************************************************************************************************** */

@media (max-width: 1199px) {
    #homepage-wrapper #xx_header .xx_slider ul li.splash .content {
        .main-title {
            font-size: 32px;
        }
        .main-content {
            font-size: 16px;
            width: 65%;
        }
        .xx_cta {
            width: 32%;
            margin-top: 5em;
        }
    }
    /* *********************************************************************************************************** */
    /* **                                               TABLET                                                  ** */
    /* *********************************************************************************************************** */
    @media (max-width: 979px) {
        #homepage-wrapper #xx_header .xx_slider ul li.splash .content {
            top: 3%;
            .xx_cta {
                width: 40%;
                padding-left: 2%;
            }
            .main-title {
                font-size: 25px;
                margin-bottom: 0%;
            }
            .main-content {
                font-size: 15px;
                margin-top: 1%;
                width: 85%;
            }
            .legal {
                font-size: 10px;
                width: 95%;
                margin: 5px auto 0;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #homepage-wrapper #xx_header .xx_slider ul li.splash .content .xx_cta:after {
        height: 25px;
    }
}


/* *********************************************************************************************************** */


/* **                                               MOBILE                                                  ** */


/* *********************************************************************************************************** */

@media (max-width: 767px) {
    #homepage-wrapper #xx_header .xx_slider ul li.splash {
        background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-splash-mobile.jpg') no-repeat;
    }
    #homepage-wrapper #xx_header .xx_slider ul li.splash .content {
        width: 100%;
        top: 9%;
        .main-title {
            font-size: 14px;
        }
        .main-content {
            font-size: 10px;
            line-height: 130%;
            margin-top: 2%;
            width: 82%;
        }
        .xx_cta {
            width: 60%;
            margin-top: 5%;
            &.links {
                margin-right: 2%!important;
            }
        }
        .legal {
            font-size: 9px;
            width: 100%;
            margin: 10px auto 0;
            line-height: 120%;
            .hide_mobile {
                display: none;
            }
        }
    }
}