
/* *********************************************************************************************************** */
/*                                            SLIDER STRANDTAS                                       ** */
/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.strandtas {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-strandtas.jpg') no-repeat;
  &.en_fix { 
    background: url('//static.asadventure.com/includes/homepage/international/images/bg_strandtas.jpg') no-repeat; 
    background-size: contain;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.strandtas .content {
  position: absolute;
  width: 33%;
  top: 20%;
  left: 1%;

  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}


#homepage-wrapper #xx_header .xx_slider ul li.strandtas .content {
  color: #fff;
  text-align: center;

  .main-title {
    font-size: 37px;
    font-weight: 100;
    color: inherit;
    line-height: 130%;
    margin-bottom: 1%;

    .highlight {
      text-transform: uppercase;
      font-weight: bold;
    }

  }

  .main-content {
    font-size: 19px;
  }

  .legal {
    font-size: 11px;
    line-height: 1.2;
    margin-top: 19%;
  }

}

#homepage-wrapper #xx_header .xx_slider ul li.strandtas.en_fix .content .legal{
      margin-top: 5%;
}



#homepage-wrapper #xx_header .xx_slider ul li.strandtas .content .xx_cta { 
  font-weight: 600;
  width: 50%;
  text-align: left;
  margin-top: 0;
  background: #fff;
  color: #00c0d8;

  &:hover {
    background: #ededed;
    color: #00c0d8;
  }

  &:after {
    content: "\f04b"; /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 11px;
    color: inherit;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.strandtas.en_fix .content .xx_cta { 
  width: 70%;
}


//FR FIX
#homepage-wrapper #xx_header .xx_slider ul li.strandtas.fr_fix .content .main-title {
  font-size: 32px;
}

// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #homepage-wrapper #xx_header .xx_slider ul li.strandtas .content {
    top: 11%;

    .main-title {
      font-size: 30px;
    }
    .main-content {
      font-size: 16px;
    }
    .legal {
      margin-top: 10%;
    }
    
  }
  #homepage-wrapper #xx_header .xx_slider ul li.strandtas.en_fix .content .legal{
      margin-top: 5%;
}

  //FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.strandtas.fr_fix .content .main-title {
    font-size: 25px;
  }

}


/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #homepage-wrapper #xx_header .xx_slider ul li.strandtas .content {
    top: 9%;

    .main-title {
      font-size: 22px;
    }
    .main-content {
      font-size: 13px;
      margin-bottom: 7%;
    }
    .legal {
      margin-top: 10%;
      font-size: 8px;
    }

    .xx_cta {
      text-align: left;
      padding-left: 10px;
      margin-bottom: 4%;

      &:after {
        display: block;
        font-size: 8px;
      }
    }
    
  }

  #homepage-wrapper #xx_header .xx_slider ul li.strandtas.en_fix .content .legal{
      margin-top: 5%;
}

  //FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.strandtas.fr_fix .content .main-title {
    font-size: 19px;
  }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #homepage-wrapper #xx_header .xx_slider ul li.strandtas .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #homepage-wrapper #xx_header .xx_slider ul li.strandtas {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-strandtas-mobile@2x.jpg') no-repeat;
    &.en_fix {
          background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-strandtas-mobile@2x.jpg') no-repeat;
          background-size: cover;
          background-position: center;
    }

  }

  #homepage-wrapper #xx_header .xx_slider ul li.strandtas .content {
    width: 50%;
      top: 3%;
    left: 5%;

    .main-title {
      font-size: 15px;
    }

    .main-content {
        font-size: 8px;
      margin-bottom: 5%;
      line-height: 1;
    }

    .legal {
      font-size: 6px;
      margin-top: 3%;
    }

    .xx_cta {
      padding-left: 10px;
      width: 70%;
      font-size: 8px;

      &:after {
        font-size: 7px;
      }
    }
    
  }

  #homepage-wrapper #xx_header .xx_slider ul li.strandtas.en_fix .content {
    .xx_cta { 
      margin-top: 30px;
    }
    .legal {
      margin-top: 30px;
      font-size: 8px;
    }
    .main-content {
        font-size: 12px;

    }

  }

  //FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.strandtas.fr_fix .content .main-title {
    font-size: 13px;
  }


}


