/* *********************************************************************************************************** */
/*                                             SLIDER summerdeals                                         ** */
/* *********************************************************************************************************** */  

#homepage-wrapper #xx_header .xx_slider ul li.summerdeals {
    background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-summerdeals.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.summerdeals .content {
    position: absolute;
    width: 75%;
    top: 9%;
    color: #fff;
    text-align: left;
    padding-left: 3%;
    h2,
    span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .main-title {
        display: inline-block;
        font-weight: 100;
        font-size: 41px;
        line-height: 120%;
        color: inherit;
        /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
        text-transform: uppercase;
        margin: 0;
    }
    .main-content {
        text-shadow: 0 0 80px rgba(0, 0, 0, 1);
        font-size: 18px;
        margin: 1.1em 0 1.8em;
        width: 65%;
        line-height: 130%;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.summerdeals .content .xx_cta {
    font-weight: 600;
    width: 27%;
    text-align: left;
    margin: 0 0 10px;
    background: #df8f12;
    color: #ffffff;
    display: block; /*override general styles = inline-block*/
    &:hover {
       background: darken(#df8f12, 6%);
        color: #ffffff;
    }
    &.folder {
        background-color: #fff;
        color: #df8f12;
        &:hover{
            background-color: #df8f12;
            color: #fff;
        }
    }
}

// IE8 fix 
@media \0screen {}


/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 1199px) {
    #homepage-wrapper #xx_header .xx_slider ul li.summerdeals .content {
        top: 3%;
        .main-title {
            font-size: 32px;
        }
        .main-content {
            font-size: 16px;
        }
        .xx_cta {
            width: 32%;
        }
}

/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */

    @media (max-width: 979px) {
        #homepage-wrapper #xx_header .xx_slider ul li.summerdeals .content {
            /*top: 29%;*/
            .xx_cta {
                width: 35%;
                padding-left: 1%;
                margin: 0 0 8px;
            }
            .main-title {
                font-size: 25px;
                .hide_mobile{
                    display: none;
                }
            }
            .main-content {
                font-size: 15px;
                margin: .6em 0 1em;
                width: 83%;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #homepage-wrapper #xx_header .xx_slider ul li.summerdeals .content .xx_cta:after {
        height: 25px;
    }
}


/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 767px) {
    #homepage-wrapper #xx_header .xx_slider ul li.summerdeals {
        background: url('http://static.asadventure.com/includes/homepage/national/new/images/bg-summerdeals-mobile.jpg') no-repeat;
    }
    #homepage-wrapper #xx_header .xx_slider ul li.summerdeals .content {
            width: 100%;
            top: 5%;
            padding: 0;
            text-align: center;
        .main-title {
            font-size: 14px;
        }
        .main-content {
            font-size: 10px;
            line-height: 130%;
            width: 100%;
            margin: .5em auto 1em;
        }
        .xx_cta {
            width: 52%;
            padding-left: 2%;
            padding-right: 0;
            margin: 0 auto !important;
            margin-bottom: 7px !important;
            &.links {
               /* margin-right: 2%!important;*/
            }
            &.folder{
                display: none;
            }
        }
    }
}