/* *********************************************************************************************************** */
/*                                             SLIDER wandelschoen                                         ** */
/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.wandelschoen {
    background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-wandelschoen.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.wandelschoen .content {
    &.fr{
        top: 19%;
    }
    position: absolute;
    width: 35%;
    top: 26%;
    left: 2%;
    color: #fff;
    text-align: left;
    h2,
    span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .main-title {
        display: inline-block;
        font-weight: 100;
        font-size: 40px;
        line-height: 120%;
        color: inherit;
        /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
        text-transform: uppercase;
        margin: 0;
    }
    .main-content {
        text-shadow: 0 0 80px black;
    font-size: 18px;
    margin: 1.1em auto 1.5em;
    width: 100%;
    line-height: 130%;
    }
}

#homepage-wrapper #xx_header .xx_slider ul li.wandelschoen .content .xx_cta {
    font-weight: 600;
    width: 230px;
    text-align: left;
    margin-top: 0;
    background: #0ba198;
    color: #ffffff;
    margin-bottom: 7%;
    &:hover {
       background: darken(#0ba198, 6%);
        color: #ffffff;
    }
    &.links {
        margin-right: 2%;
    }
}

// IE8 fix 
@media \0screen {}


/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 1199px) {
    #homepage-wrapper #xx_header .xx_slider ul li.wandelschoen .content {
       &.fr{
        top: 16%;
    }
        .main-title {
            font-size: 32px;
        }
        .main-content {
            font-size: 16px;
        }
        .xx_cta {
           /* width: 34%;*/
        }
}

/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */

    @media (max-width: 979px) {
        #homepage-wrapper #xx_header .xx_slider ul li.wandelschoen .content {
            top: 20%;
            .xx_cta {
                width: 180px;
                padding-left: 1%;
            }
            .main-title {
                font-size: 25px;
                .hide_mobile{
                    display: none;
                }
            }
            .main-content {
                font-size: 15px;
                margin: .6em auto 1.2em;
                /*width: 80%;*/
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #homepage-wrapper #xx_header .xx_slider ul li.wandelschoen .content .xx_cta:after {
        height: 25px;
    }
}


/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 767px) {
    #homepage-wrapper #xx_header .xx_slider ul li.wandelschoen {
        background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-wandelschoen_mobile.jpg') no-repeat;
    }
    #homepage-wrapper #xx_header .xx_slider ul li.wandelschoen .content {
        width: 100%;
        top: 21%;
        text-align: center;
        .main-title {
            font-size: 18px;
        }
        .main-content {
            font-size: 10px;
            line-height: 130%;
            width: 80%;
            margin: 1.2em auto 1.7em;
        }
        .xx_cta {
            width: 55%;
            padding-left: 2%;
            padding-right: 0;
            margin: 0 auto !important;
            margin-bottom: 3% !important;
            &.links {
               /* margin-right: 2%!important;*/
            }
        }
    }
}