/* *********************************************************************************************************** */
/* **                                         SLIDER SOLDEN (2de afprijzing)                                ** */
/* *********************************************************************************************************** */

#xx_wrapper #xx_header .xx_slider ul li.ws_section {
    background: url('https://static.asadventure.com/includes/homepage/international/images/bg_wintersportactie.jpg') no-repeat; overflow: hidden; }


#xx_wrapper #xx_header .xx_slider ul li.ws_section .content {
    position: absolute;
    top: 1.5%;
    left: 0;
    z-index: 2;
    width: 305px;
    height: 410px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 19px 0;
    color: #ffffff;

    h2, 
    span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#xx_wrapper #xx_header .xx_slider ul li.ws_section .content {
    .main-title {
        position: relative;
        z-index: 2;
        color: #78abcd;
        font-size: 2em;
        line-height: 1.1em;
        font-weight: 100;
        font-family: "Open Sans";
        margin: 0;
        .ws-bold {
            font-weight: 400;
            color: #78abcd;
            font-size: 1em;
        }
    }
    .ws-text {
        font-size: 12px;
        color: #252525;
        box-sizing: border-box;
        margin-bottom:0;
        line-height: 15px;
    }
    .ws-date {
        font-size: 10px;
        color: #252525;
        box-sizing: border-box;
        margin: 0;
        line-height: 10px;
    }
    .ws-legal    {
        color: #252525;
        font-size: 9px;
        margin-bottom: 5px;
        margin-top: 5px;
        line-height: 10px;    
    }
}

#xx_wrapper #xx_header .xx_slider ul li.ws_section.fr_fix .main-title { margin: 0; }

#xx_wrapper #xx_header .xx_slider ul li.ws_section .content .xx_cta {
    width: 95%;
    background-color: #4590bd;
    font-weight: 600;
    display: inline-block;
    &:hover {
        background-color: #3c84af;
    }
}

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 1199px) {
    #xx_wrapper #xx_header .xx_slider ul li.ws_section .content {
        width: 245px;
        top: 0;

        padding: 0 12px 0;
        background-position: 0px -54px;
        .main-title {
            font-size: 1.5em;
            line-height: 25px;
            margin-bottom: 5px;
            margin-top: 5px;
            .ws-bold {
            font-weight: 400;
            color: #78abcd;
            font-size: 1em;
            }
        }
        .ws-text {
            font-size: 11px;
            line-height: 12px;
        }
        img { width: 75%; }
        .xx_cta { width: 90%; }
    }
    // FR FIX
    #xx_wrapper #xx_header .xx_slider ul li.ws_section.fr_fix .content {
        .main-title {
            font-size: 1.3em;
            line-height: 20px
        }
    }
}
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 979px) {
    #xx_wrapper #xx_header .xx_slider ul li.ws_section .content {
        width: 190px;
        padding-top: 5px 12px 0;
        .main-title {
            font-size: 1.2em;
            line-height: 15px;
            margin-bottom: 0;
            margin-top: 0;
        }
        .ws-text { font-size: 9.5px; }
        .ws-legal { font-size: 7px; margin: 0; }
        .ws-date {
            font-size: 8px;
            color: #252525;
            box-sizing: border-box;
            margin: 0;
            line-height: 8px;
        }
        img {
            width: 80%;
            margin-top: 2px;
        }
        .xx_cta {
            width: 90%;
            text-align: left;
            padding-left: 4%;
            margin-top: 5px;
            &:after {
                display: block;
                height: 30px;
                background-size: 9px 9px;
            }
        }
    }
    //FR FIX
    #xx_wrapper #xx_header .xx_slider ul li.ws_section.fr_fix .content {
        .main-title {
            font-size: 1em;
            line-height: 10px;
        }
    }
    //EN FIX
    #xx_wrapper #xx_header .xx_slider ul li.ws_section.en_fix .content {
        .ws-legal {
            font-size: 7px;
            line-height: 8px;
        }
        .xx_cta { margin-top: 2px; }
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #xx_wrapper #xx_header .xx_slider ul li.ws_section .content .xx_cta:after {
        height: 25px;
    }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */

@media (max-width: 767px) {
    #xx_wrapper #xx_header .xx_slider ul li.ws_section {
        background: url('https://static.asadventure.com/includes/homepage/international/images/bg_wintersportactie_mobile@2x.jpg') no-repeat;
    }
    #xx_wrapper #xx_header .xx_slider ul li.ws_section .content {
        width: 80%;
        padding-top: 20px;
        height: 112px;
        top: 0;
        left: 10%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        img {
            display: none;
        }
        .main-title {
            font-size: 15px;
            line-height: 100%;
            margin-bottom: 5px;
            text-align: center;
        }
        .ws-text {
            font-size: 8px;
            text-align: center;
            line-height: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .ws-date {
            font-size: 8px;
            color: #252525;
            box-sizing: border-box;
            margin: 0;
            line-height: 8px;
        }
        .ws-legal {
            font-size: 8px;
            margin: 0;
            text-align: center;
        }
        .xx_cta {
            font-size: 9px;
            width: 90%;
            height: 25px;
            line-height: 25px;
            margin-top: 2px;
            margin-left: 5px;
            &:after {
                height: 25px;
                background-size: 8px 8px;
            }
        }
    }
    //FR FIX
    #xx_wrapper #xx_header .xx_slider ul li.ws_section.fr_fix .content, 
    #xx_wrapper #xx_header .xx_slider ul li.ws_section.en_fix .content {
        .ws-text {
            margin: 0;
        }
    }
}
