
/* *********************************************************************************************************** */
/* **                                             SLIDER KERST                                              ** */
/* *********************************************************************************************************** */

#xx_wrapper #xx_header .xx_slider ul li.christmas-shopping, #xx_wrapper #xx_header .xx_slider ul li.slide-christmas {
  background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_nl.jpg) no-repeat;
  position: relative;

  &.fr-fix{
    background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_fr.jpg) no-repeat;
  }

  &.de-fix{
    background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_de.jpg) no-repeat;
  }
}

#xx_wrapper #xx_header .xx_slider ul li .christmas-shopping .xx_cta, .christmas-shopping-copy .xx_cta{
  background: #ffffff;
  border: 1px solid #AC1316;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  color: #AC1316;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin-left: -25.5%;
  padding: 0 15px;
  position: absolute;
    bottom: 30px;
    left: 50%;
  text-decoration: none;
  width: percentage(270/1170);

  &:hover{
    background: darken(#ffffff, 5%);
  }

  &:after{
    content: "";
    float: right;
    font-family: 'FontAwesome';
    line-height: 42px;
  }
}

/* *********************************************************************************************************** */
/* **                                        SMALL DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
.christmas-shopping.de-fix{
  background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_de.jpg) no-repeat;
}

.christmas-shopping.uk-fix{
  background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_en.jpg) no-repeat;
  height: 350px;
}

.christmas-shopping-copy{
  position: absolute;
    bottom: 70px;
  width: 100%;

  .xx_cta{
    margin-left: -11.5% !important;
    position: absolute;
      left: 50%;
  }
}
}
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {
.christmas-shopping.de-fix{
  background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_de.jpg) no-repeat;
  background-size:contain;
  height: 342px;
}

.christmas-shopping.uk-fix{
  background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_en.jpg) no-repeat;
  height: 350px;
}

.christmas-shopping-copy{
  position: absolute;
    bottom: 70px;
  width: 100%;

  .xx_cta{
    margin-left: -11.5% !important;
    position: absolute;
      left: 50%;
  }
}
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #xx_wrapper #xx_header .xx_slider ul li.christmas-shopping {
    background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_nl_mobile@x2.jpg) no-repeat;

    &.fr-fix{
      background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_fr_mobile@x2.jpg) no-repeat;
    }

    &.de-fix{
      background: url(http://static.asadventure.com/includes/homepage/international/images/slide_kerstcadeaus_de_mobile@x2.jpg) no-repeat;
    }
  }

  #xx_wrapper #xx_header .xx_slider ul li.christmas-shopping .xx_cta{
    background: #ffffff;
    border: 1px solid #AC1316;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    color: #AC1316;
    display: block;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin-left: -35%;
    padding: 0 15px;
    position: absolute;
      bottom: 10px;
      left: 50%;
    text-decoration: none;
    width: 60%;

    &:hover{
      background: darken(#ffffff, 5%);
    }

    &:after{
      content: "";
      float: right;
      font-family: 'FontAwesome';
      line-height: 42px;
    }
  }
}