
/* *********************************************************************************************************** */
/*                                            SLIDER FASHION XL                                             ** */
/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.fashion-xl {
  background: url('https://static.asadventure.com/includes/homepage/national/images/bg-fashion-xl.jpg') no-repeat;
}

#homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content {
  position: absolute;
  width: 75%;
  top: 30%;
  left: 0;
  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content {
  color: #fff;
  text-align: center;

  .pre-title {
    font-family: 'Georgia', serif;
    font-size: 44px;
    font-weight: 400;
    font-style: italic;
    color: inherit;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
  }

  .main-title {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 100%;
    color: inherit;
    margin-bottom: 5%;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
  }

}

#homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content .xx_cta { 
  display: block;
  margin: 0 auto;
  font-weight: 600;
  width: 25%;
  text-align: left;
  margin-top: 0;
  background-color: #425e98;

  &:hover {
    background-color: #3f5480;
  }
}


// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content {
    top: 28%;

    .pre-title {
      font-size: 39px;
      margin-bottom: 0;
    }

    .main-title {
      font-size: 52px;
    }

    .xx_cta {
      width: 30%;
    }
    
  }

}


/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content {
    top: 25%;
    width: 74%;

    .pre-title {
      font-size: 28px;
    }

    .main-title {
      font-size: 37px;
    }

    .xx_cta {
      width: 30%;
      text-align: left;
      padding-left: 2%;

      &:after {
        display: block;
      }
    }
    
  }

  // FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl.fr_fix .content .xx_cta {
  }


}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl {
    background: url('https://static.asadventure.com/includes/homepage/national/images/bg-fashion-xl-mobile@2x.jpg') no-repeat;
  }

  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content {
    top: 21%;
    width: 100%;

    .pre-title {
      font-size: 17px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }

    .main-title {
      font-size: 23px;
      margin-bottom: 4%;
      margin-top: 1%;
    }

    .xx_cta {
      width: 50%;
      font-size: 8px;
    }
    
  }

  //FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl.fr_fix .content .xx_cta {
    width: 97%;
  }

  //EN FIX
  #homepage-wrapper #xx_header .xx_slider ul li.fashion-xl .content .xx_cta {
    font-size: 7.5px;
  }

}


