
// OUTDOOR LOOKBOOK

// 10% Fashion

.slide-mss-image{
	height: 0;
	max-width: 100%;

	@media only screen and(min-width: 768px){
		background: url(http://static.asadventure.com/includes/homepage/international/images/bg-mid-season-nov-14-EN.jpg) no-repeat;
		background-size: contain;
		padding-bottom: percentage(410/1170);

		&.de-img-fix{
			background: url(http://static.asadventure.com/includes/homepage/international/images/bg-mid-season-nov-14-DE.jpg) no-repeat;
			background-size: contain;
			padding-bottom: percentage(410/1170);
		}
	}

	@media only screen and(max-width: 767px){
		background: url(http://static.asadventure.com/includes/homepage/international/images/bg-mid-season-mobile-en@2x.jpg) no-repeat;
		background-size: contain;
		padding-bottom: percentage(160/302);

		&.de-img-fix{
			background: url(http://static.asadventure.com/includes/homepage/international/images/bg-mid-season-mobile-en@2x.jpg) no-repeat;
			background-size: contain;
			padding-bottom: percentage(160/302);
		}
	}
}

.slide-mss-copy{
	color: #3C241E;
	display: block;
	font-size: 133.33%;
	height: 86%;
	padding: 0 3%;
	position: absolute;
		top: 12%;
		left: 10.6%;
	text-align: left;
	text-decoration: none;
	text-shadow: 0 1px 1px #ACBDC8;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	width: 29%;

	@media only screen and(max-width: 1199px){
		top: 40px;
	}

	@media only screen and(max-width: 979px){
		top: 27px;
	}

	@media only screen and(max-width: 767px){
		height: 100%;
		top: 10px;
		left: 9%;
		width: 42%;
	}

	h2{	
		color: #3C241E;
		// font-size: 1.7em;
		font-family: 'Helvetica Neue';
		font-size: 60px;
		margin-bottom: 0;
		text-transform: uppercase;
		line-height: 60px;
		text-align: center;
	
		.full {
			background: #3C241E;
			color: #ffffff;
			display: inline-block;
			font-size: 123px;
			font-weight: 900;
			line-height: 118px;
			padding: 0px 10px 3px;

			@media only screen and(max-width: 1199px){
				font-size: 96px;
				line-height: 85px;
			}

			@media only screen and(max-width: 989px){
				font-size: 74px;
				line-height: 64px;
			}

			@media only screen and(max-width: 989px){
				font-size: 2em;
				line-height: 1em;
			}
		}

		@media only screen and(max-width: 1199px){
			font-size: 1.4em;
			line-height: 35px;
		}

		@media only screen and(max-width: 979px){
			font-size: .9em;
			line-height: 35px;
		}

		@media only screen and(max-width: 767px){
			font-size: 2em;
			line-height: 1em;
		}
	}

	p{
		font-size: 15px;
		margin-top: 0;
		color: #3C241E;
		//text-transform: uppercase;
		text-align: center;
		.highlight {
			color: #b11116;
		}

		@media only screen and(max-width: 1199px){
			font-size: .9em;
		}

		@media only screen and(max-width: 979px){
			font-size: .6em;
			line-height: 1.2em;
		}
	}

	a{
		&:hover{
			text-decoration: none;
		}
	}
}

p.legal {
	font-size: 10px;
	color: #3C241E;
	font-weight: 100;
	position: absolute;
		bottom: 10px;
	width: 78%;
	
	&:before {
		content: "";
		width: 10%;
		height: 3px;
		border-top: solid 1px #3C241E;
		border-bottom: solid 1px #3C241E;
		display: inline-block;
		vertical-align: middle;
		margin-right: 4%;
	}

	&:after {
		content: "";
		width: 10%;
		height: 3px;
		border-top: solid 1px #3C241E;
		border-bottom: solid 1px #3C241E;
		display: inline-block;
		vertical-align: middle;
		margin-left: 4%;
	}

	@media only screen and(max-width: 979px){
		margin-top: -15px;
		width: 100%;
		&:before { width: 5%; }
		&:after { width: 5%; }
	}

	@media only screen and(max-width: 767px){
		position: relative;
		font-size: 9px;
		margin-top: 75px;
		width: 100%;
		&:before { width: 5%; }
		&:after { width: 5%; }
	}

}

.slide-mss-cta{
	background: #3C241E;
	color: #ffffff;
	display: block;
	font-size: 85%;
	height: 40px;
	line-height: 43px;
	margin: -18px auto 0;
	padding: 0 1em;
	// position: absolute;
	// 	bottom: 90px;
	// 	right: 42%;
	text-decoration: none;
	width: 90%;
	font-weight: 200;

	&:after{
		content: "";
		float: right;
		font-family: "FontAwesome";
	}

	&:hover{
		background: #4D3934;
	}

	@media only screen and(max-width: 1199px){
		left: inherit;
	}

	@media only screen and(max-width: 979px){
		bottom: 35px;
		width: 28%;
		right: 37%;
	}

	@media only screen and(max-width: 767px){
		background: #3C241E;
		border: none;
		border-radius: 0;
		font-size: 0.7em;
		height: 35px;
		line-height: 35px;
		margin-left: -40%;
		position: absolute;
			right: inherit;
			bottom: 23%;
			left: 48%;
		width: 85%;
	}
}