
/* *********************************************************************************************************** */
/*                                            SLIDER OUTDOOR XL                                             ** */
/* *********************************************************************************************************** */

  /*
   * new wave image triggered with class: .new-wave
   */


#xx_wrapper #xx_header .xx_slider ul li.outdoor-xl {
  background: url('https://static.asadventure.com/includes/homepage/national/images/bg-outdoor-xl.jpg') no-repeat;
}

#xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content {
  position: absolute;
  width: 75%;
  top: 32%;
  left: 0;
  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

#xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .tagline {
  position: absolute;
  bottom: 3%;
  right: 26%;
  //shadow for png image (no square)
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.7));
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.7));
}

#xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content {
  color: #fff;
  text-align: center;

  .main-content {
    font-size: 34px;
    color: inherit;
    line-height: 120%;
    padding: 0 18%;
    margin-bottom: 5%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

}

#xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content .xx_cta { 
  font-weight: 600;
  width: 20%;
  text-align: left;
  margin-top: 0;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  margin-bottom: 7%;

  &:hover {
    background: #fff;
    color: #0F2A48;
  }

  &:after {
    content: "\f04b"; /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 6%;
    color: inherit;
  }
}

//FR FIX
#xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content {
  top: 25%;
}


// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content {

    .main-content {
      font-size: 28px;
    }

    .xx_cta {
      width: 24%;
    }
    
  }

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .tagline {
    bottom: 3%;
    right: 27%;
    width: 110px;
  }

}


/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content {
    width: 74%;

    .main-title {
      font-size: 37px;
    }

    .main-content {
      font-size: 22px;
    }

    .xx_cta {
      text-align: left;
      padding-left: 10px;
      margin-bottom: 6%;

      &:after {
        display: block;
        font-size: 8px;
      }
    }
    
  }

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .tagline {
    bottom: 4%;
    right: 28%;
    width: 90px;
  }

  // FR FIX
  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl.fr_fix .content .xx_cta {
    width: 27%;
  }


}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl {
    background: url('https://static.asadventure.com/includes/homepage/national/images/bg-outdoor-xl-mobile@2x.jpg') no-repeat;
  }

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .content {
    top: 26%;
    width: 100%;

    .main-content {
      font-size: 15px;
      padding: 0 10%;
    }

    .xx_cta {
      width: 40%;
      font-size: 8px;
    }
    
  }

  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl .tagline {
    bottom: 4%;
    right: 3%;
    width: 66px;
  }

  //FR FIX
  #xx_wrapper #xx_header .xx_slider ul li.outdoor-xl.fr_fix .content .xx_cta {
    width: 40%;
  }


}


