
/* *********************************************************************************************************** */
/*                                            SLIDER SNOW XL                                             ** */
/* *********************************************************************************************************** */

#homepage-wrapper #xx_header .xx_slider ul li.snow-xl {
  background: url('../../images/bg-snow-xl.jpg') no-repeat;
  &.new-wave {
    background: url('../../images/bg-snow-xl-next-wave-v2.jpg')
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content {
  position: absolute;
  width: 75%;
  top: 17%;
  left: 0;
  h2, span {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content {
  color: #fff;
  text-align: center;

  .main-title {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 65px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    line-height: 100%;
    color: inherit;
    margin-bottom: 1%;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.55);
  }

  .main-content {
    font-size: 34px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
    line-height: 120%;
    padding: 0 18%;
    margin-bottom: 5%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

}

#homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content .xx_cta { 
  font-weight: 600;
  width: 25%;
  text-align: left;
  margin-top: 0;
  background-color: #425e98;

  &:hover {
    background-color: #3f5480;
  }
}


// IE8 fix 
@media \0screen {

} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content {
    top: 15%;

    .main-title {
      font-size: 52px;
    }

    .main-content {
      font-size: 28px;
    }

    .xx_cta {
      width: 30%;
    }
    
  }

}


/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content {
    top: 15%;
    width: 74%;

    .main-title {
      font-size: 37px;
    }

    .main-content {
      font-size: 22px;
    }

    .xx_cta {
      width: 30%;
      text-align: left;
      padding-left: 2%;

      &:after {
        display: block;
      }
    }
    
  }

  // FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl.fr_fix .content .xx_cta {
  }


}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content .xx_cta:after {
    height: 25px;
  }
}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl {
    background: url('../../images/bg-snow-xl-mobile@2x.jpg') no-repeat;
    &.new-wave {
      background: url('../../images/bg-snow-xl-next-wave-mobile@2x.jpg')
    }
  }

  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content {
    top: 11%;
    width: 100%;

    .main-title {
      font-size: 23px;
      margin-bottom: 2%;
    }

    .main-content {
      font-size: 13px;
    }

    .xx_cta {
      width: 50%;
      font-size: 8px;
    }
    
  }

  //FR FIX
  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl.fr_fix .content .xx_cta {
    width: 97%;
  }

  //EN FIX
  #homepage-wrapper #xx_header .xx_slider ul li.snow-xl .content .xx_cta {
    font-size: 7.5px;
  }

}


