/* *********************************************************************************************************** */
/*                                            SLIDER FOLDER MAART 15                                        ** */
/* *********************************************************************************************************** */
#homepage-wrapper .slider-wrapper ul li.folder-maart15 {
  background: url("https://static.asadventure.com/includes/homepage/national/images/bg-folder-maart15.jpg") no-repeat; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15 .content {
  position: absolute;
  width: 30%;
  top: 12%;
  left: 43.5%; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content h2, #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15 .image-title {
  position: absolute;
  top: 45%;
  left: 6%; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15 .content {
  color: #c0cb41;
  text-align: center; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .main-title {
    font-size: 30px;
    color: inherit;
    line-height: 130%;
    margin-bottom: 5%; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .legal {
    font-size: 13px;
    color: #C0CB41;
    line-height: 130%;
    margin-top: 1em; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta {
  font-weight: 600;
  width: 30%;
  text-align: left;
  margin-top: 0;
  background: none;
  border: 2px solid #c0cb41;
  color: #c0cb41;
  margin-bottom: 4%; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:hover {
    background: #c0cb41;
    color: #fff; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:after {
    content: "\f04b";
    /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 11px;
    color: inherit; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:nth-child(3),
#homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:nth-child(5) {
  margin-left: 2%; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta.wider {
  width: 67%;
  background: #c0cb41;
  color: #fff;
  margin-left: -3px; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta.wider:hover {
    background: #afba36;
    color: #fff;
    border-color: #afba36; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .main-title {
  font-size: 28px; }
#homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .legal {
  margin-top: 10%; }

#homepage-wrapper .slider-wrapper ul li.folder-maart15.en_fix .content {
  top: 17%; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15.en_fix .content .legal {
    margin-top: 17%; }

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content {
    top: 3%;
    left: 42.5%; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .main-title {
      font-size: 26px; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .legal {
      font-size: 12px; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta {
      width: 37%; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta.wider {
      width: 82%; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .image-title {
    width: 340px; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .main-title {
    font-size: 22px; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .legal {
    margin-top: 6%; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15.en_fix .content {
    top: 3%; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15.en_fix .content .legal {
      margin-top: 17%; } }
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content {
    top: 0%; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .main-title {
      font-size: 19px; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .legal {
      font-size: 11px; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta {
      text-align: left;
      padding-left: 10px;
      margin-bottom: 4%; }
      #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:after {
        display: block;
        font-size: 8px; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .image-title {
    width: 255px; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .main-title {
    font-size: 18px; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .xx_cta {
    font-size: 10px; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .legal {
    margin-top: 2%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:after {
    height: 25px; } }
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {
  #homepage-wrapper .slider-wrapper ul li.folder-maart15 {
    background: url("https://static.asadventure.com/includes/homepage/national/images/bg-folder-maart15-mobile@2x.jpg") no-repeat; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content {
    width: 50%; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .main-title {
      font-size: 11px; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .legal {
      font-size: 9px; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta {
      border-width: 1px;
      text-align: center;
      padding-left: 0;
      width: 44%; }
      #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta:after {
        display: none; }
    #homepage-wrapper .slider-wrapper ul li.folder-maart15 .content .xx_cta.wider {
      width: 93%; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15 .image-title {
    top: 80%;
    left: 3%;
    width: 100px; }

  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .main-title {
    font-size: 10px; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .xx_cta {
    font-size: 9px; }
  #homepage-wrapper .slider-wrapper ul li.folder-maart15.fr_fix .content .legal {
    margin-top: 2%; } }
