/* *********************************************************************************************************** */
/* **                                          10% Adults                                                    ** */
/* *********************************************************************************************************** */

/* ***************************************************************** */
/* **                          VARIABLES                          ** */
/* ***************************************************************** */
$blue: #4a5066;
$grey: #313131;
/* ***************************************************************** */
/* **                        MAIN STYLES                          ** */
/* ***************************************************************** */
#homepage-wrapper #xx_header .xx_slider ul li.tien_procent_adults .xx_txt,
#homepage-wrapper #xx_header_mobile .xx_mobile_tien_procent_adults .xx_txt {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 64px;
  width: 188px;

  .main-title {
   	text-align: left;
  	font-size: 30px;
  	font-weight: 800;
  	color: $blue;
  	line-height: 130%;
  }

  .main-content {
  	text-align: left;
  	font-size: 14px;
  	line-height: 130%;
	font-weight: 400;
  	color: $grey;
  	margin-bottom: 12px;
  }

}

#homepage-wrapper #xx_header .xx_slider ul li.tien_procent_adults .legal {
	position: absolute;
	z-index: 2;
	bottom: -24px;
	width: 270px;
	left: 10px;
	color: black;
	font-size: 9px;  	
}

#homepage-wrapper #xx_header .xx_slider ul li.tien_procent_adults .xx_txt .xx_cta,
#homepage-wrapper #xx_header_mobile .xx_mobile_tien_procent_adults .xx_txt .xx_cta {
	position: relative;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 99%;
	height: 40px;
	font-size: 13px;
	font-weight: 700;
	line-height: 40px;
	background-color: #4a5066;
	color: #ffffff;
	padding-left: 10px;
	margin-top: 10px;

  &:after {
  	content: "";
	/* box */
	width: 45px;
	height: 40px;
	float: right;
	/* background */
	background: url('../images/arrow.png') no-repeat center center;
  }
}

#homepage-wrapper #xx_header .xx_slider ul li.tien_procent_adults .xx_txt .xx_cta:hover,
#homepage-wrapper #xx_header_mobile .xx_mobile_tien_procent_adults .xx_txt .xx_cta:hover {
	background-color: #3c4258;
}

/* ***************************************************************** */
/* **                            DESKTOP                          ** */
/* ***************************************************************** */
@media (max-width: 1199px) {
	#homepage-wrapper #xx_header .xx_slider ul li.tien_procent_adults .xx_txt {
		top: 33px;
		left: 53px;
  		width: 157px;

		.main-title {
			font-size: 23px;

			&.fr_fix {
  				font-size: 20px;
  				margin-bottom: 4px;
  			}
		}

		.main-content {
			font-size: 12px;
			margin-bottom: 1px;
		}

		.main-content.fr_fix {
  		}

		.xx_cta {
			font-size: 11px;
			width: 92%;

			&.fr_fix {
				font-size: 9px;
			}
		}

	}
}

/* ***************************************************************** */
/* **                            TABLET                           ** */
/* ***************************************************************** */
@media (max-width: 979px) {
	#homepage-wrapper #xx_header .xx_slider ul li.tien_procent_adults .xx_txt {
		top: 22px;
		left: 41px;
		width: 116px;

		.main-title {
			font-size: 15px;
			line-height: 120%;
			margin-bottom: 6px;

			&.fr_fix {
				font-size: 16px;
			}
		}

		.main-content {
			font-size: 9px;
			margin-bottom: 4px;
		}

		.main-content.fr_fix {
  		}

		.xx_cta {
			font-size: 8px;
			width: 93%;
			margin-top: 8px;
			height: 30px;
			line-height: 30px;

			&:after {
				height: 30px;
				width: 30px;
			}

			&.fr_fix {
				font-size: 7px;
			}
		}

	}
}

/* ***************************************************************** */
/* **                            MOBILE                           ** */
/* ***************************************************************** */
@media (max-width: 767px) {
	#homepage-wrapper #xx_header_mobile .xx_mobile_tien_procent_adults {
	    position: relative;
	    background-image: url('../images/mobile_tien_procent_adults.jpg');
	    width: 302px;
	    height: 384px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    @include box-shadow(0px 0px 8px 0px rgba(0, 0, 0, 0.2));
  }

  #homepage-wrapper #xx_header_mobile .xx_mobile_tien_procent_adults .xx_txt {

		top: 39px;
		left: 61px;

	  .main-title {
		font-size: 29px;
	  }

	  .main-content {
		line-height: 135%;
		font-size: 14px;
	  }

	  .main-content.fr_fix {

	  }

	  .xx_cta {
		font-size: 12px;
		width: 93%;
		margin-top: 10px;
		text-align: left;
		
	  }

	  .legal {
	  	font-size: 9px;
	  	color: black;
	  	margin-top: 10px;
	  }
  }
}
