
/* *********************************************************************************************************** */
/* **                                          SLIDER NEW FASHION                                           ** */
/* *********************************************************************************************************** */


/***** NEW FASHION ******/
#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt {
  position: absolute;
  z-index: 2;
  top: 89px;
  left: 95px;
  width: 236px;
	
	a{
		&:hover{
	  	text-decoration: none;
	  }
	}
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title img {
  float: left;
  margin-right: 15px;
  margin-top: -3px;
  //margin-top: 0px \0/; /* IE8+9  */
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title {
	line-height: 20px;
  text-transform: uppercase;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title span {
  display: block;
  font-family: 'proxima_nova_excn_rgbold', 'Open Sans', sans-serif;
  font-weight: normal;
  color: #48463F;
  color: rgba(65, 64, 66, 0.96);
  -webkit-font-smoothing: antialiased;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title .first {
  font-size: 95px;
  font-weight: normal;
  margin-top: 31px;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title .second {
  font-size: 81px;
  font-weight: normal;
  margin-top: 51px;
  display: block;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title .third {
  font-size: 72px;
  font-weight: normal;
  margin-top: 45px;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .sub-title {
  font-family: 'proxima_nova_excn_rgbold', 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(65, 64, 66, 0.96);
  font-size: 20px;
  margin-top: 5px;
  text-align: right;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .sub-title .first {
  font-family: 'proxima_nova_excn_rgbold', 'Open Sans', sans-serif;
  font-weight: normal;
  color: rgba(65, 64, 66, 0.96);
  font-size: 16px;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion {
  position: absolute;
  right: 56px;
  bottom: 42px;
}

#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta { 
  position: relative;
  bottom: 22px;
  right: 22px;
  z-index: 2;
  width: 160px;
  font-weight: 600;
  font-size: 14px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #48463F;
  color: rgba(65, 64, 66, 0.96);
  text-align: left;
  line-height: 38px;
  background-color: #fbcd05;
  height: 37px;
  padding: 0 10px;
  padding-right: 0;
  margin-left: 23px;
  margin-top: 15px;
}
#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta {
  *display: inline;
}
#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta:hover {
  text-decoration: none;
}
#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta:hover {
  background-color: #dfb80e;
}
#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta:hover:after {
  border-left: 1px solid #967d16;
}
#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta:after {
  content: "";
  /* box */
  width: 41px;
  height: 37px;
  float: right;
  /* background */
  background: url('../images/arrow_dark.png') no-repeat center center;
  border-left: 1px solid #b8991c;
}


// IE8 fix 
@media \0screen {
    #homepage-wrapper .promo_row .promo-content.block_rondeprijzen h2 {
    	font-size: 38px;
    }
} 

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {

	/***** NEW FASHION ******/
	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt {
	  top: 51px;
	  left: 52px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion {
	  right: 41px;
	  bottom: 19px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta { 
	  width: 123px;
	}
	
}
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {

  /***** NEW FASHION ******/
	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt {
	  top: 46px;
	  left: 53px;
	  width: 158px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title img {
	  float: left;
	  margin-right: 8px;
	  width: 50px;
	  //margin-top: 0px \0/; /* IE8+9  */
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title {
	  text-transform: uppercase;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title .first {
	  font-size: 67px;
	  margin-top: 19px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title .second {
	  font-size: 58px;
	  margin-top: 29px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .main-title .third {
	  font-size: 53px;
	  margin-top: 22px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .sub-title {
	  font-size: 21px;
	  margin-top: 5px;
	  margin-right: 10px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_txt .sub-title .first {
	  font-size: 13px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion {
	  right: 28px;
	  bottom: 10px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta { 
	  width: 97px;
	  font-size: 12px;
	  line-height: 34px;
	  height: 33px;
	  margin-left: 9px;
	  margin-top: 15px;
	}

	#homepage-wrapper #xx_header .xx_slider ul li.newfashion .xx_cta_fashion .xx_cta:after {
	  background: url('../images/arrow_dark.png') no-repeat center 12px;
	  height: 33px;
	  width: 36px;
	}

}
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {

/******* NEW FASHION **********/

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion {
	    position: relative;
	    background-color: #414142;
	    width: 302px;
	    height: 365px;
	    margin-top: 20px;
	    margin-bottom: 30px;
	     -webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	            box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt {
	    position: absolute;
	    z-index: 2;
	    width: 302px;
	    height: 365px;
	    top: 0;
	    left: 0;
	  }

	   #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header {
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: #ffcb05;
	    z-index: 2;
	    width: 100%;
	    height: 129px;
	    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
	    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
	    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
	    border-bottom: none;
	    text-align: center;
	    padding-top: 25px;
	  } 

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header:after {
	    content: "";
	    /* box */
	    position: absolute;
	    width: 67px;
	    height: 67px;
	    top: 119px;
	    left: 119px;
	    /* background */
	    background: url('../images/fashion_arrow.png');    
	  } 

	   #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header img {
	    display: inline-block;
	    vertical-align: top;
	  } 

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header .main-title,
	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header .sub-title {
	    font-weight: normal;
	    text-transform: uppercase;
	    color: rgba(65, 64, 66, 0.96);
	    -webkit-font-smoothing: antialiased;
	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header .main-title {
	    font-family: 'proxima_nova_excn_rgbold', 'Open Sans', sans-serif;
	    font-weight: normal;
	    display: inline-block;
	    font-size: 35px;
	    line-height: 11px;
	    width: 170px;
	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header .main-title .second {
	    display: inline-block;
	    font-size: 52px;
	    font-family: inherit;
	    color: inherit;
	    margin-top: 26px;

	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt header .sub-title {
	    font-family: 'proxima_nova_excn_rgbold', 'Open Sans', sans-serif;
	    font-weight: bold;
	    font-size: 18px;
	    position: absolute;
	    bottom: 8px;
	    right: 43px;
	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt .xx_cta_container {
	    left: 4px;
	    width: 160px;
	    margin: 0 auto;
	    margin-top: 75px;
	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt .xx_cta {
	    position: relative;
	    bottom: 22px;
	    right: 22px;
	    z-index: 2;
	    width: 160px;
	    font-weight: 600;
	    font-size: 14px;
	    display: -moz-inline-box;
	    -moz-box-orient: vertical;
	    display: inline-block;
	    vertical-align: middle;
	    text-decoration: none;
	    color: rgba(65, 64, 66, 0.96);
	    text-align: left;
	    line-height: 38px;
	    background-color: #fbcd05;
	    height: 37px;
	    padding: 0 10px;
	    padding-right: 0;
	    margin-left: 23px;
	    margin-top: 15px;
	  }
	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt .xx_cta {
	    *display: inline;
	  }
	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt .xx_cta:hover {
	    background-color: #dfb80e;
	    text-decoration: none;
	  }

	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt .xx_cta:hover:after {
	    border-left: 1px solid #967d16;
	  }
	  #homepage-wrapper #xx_header_mobile .xx_item1 .xx_mobile_fashion .xx_txt .xx_cta:after {
	    content: "";
	    /* box */
	    width: 41px;
	    height: 37px;
	    float: right;
	    /* background */
	    background: url('../images/arrow_dark.png') no-repeat center center;
	    border-left: 1px solid #b8991c;
	  }

}


