/*
Error: Invalid CSS after "...artials/slider"": expected selector or at-rule, was ":"
        on line 12 of /Users/bertvandepoele/Documents/GIT/AS_international/stylesheets/sass/styles_fr_nl.scss

7: @import "partials/homepage_slider_fr_nl";
8: //@import "partials/fonts";
9: @import "partials/hp_int_content";
10: @import "partials/brandshowcase";
11: @import "partials/usp";
12: @import "partials/slider":
13: 
14: /* ------------------------------------------------------------------------- *\/
15: 
16: /* ==========================
17: 	BEGIN TRAINING PARTIAL

Backtrace:
/Users/bertvandepoele/Documents/GIT/AS_international/stylesheets/sass/styles_fr_nl.scss:12
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:43:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:393:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:415:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...artials/slider\"\": expected selector or at-rule, was \":\"\A         on line 12 of /Users/bertvandepoele/Documents/GIT/AS_international/stylesheets/sass/styles_fr_nl.scss\A \A 7: @import \"partials/homepage_slider_fr_nl\";\A 8: //@import \"partials/fonts\";\A 9: @import \"partials/hp_int_content\";\A 10: @import \"partials/brandshowcase\";\A 11: @import \"partials/usp\";\A 12: @import \"partials/slider\":\A 13: \A 14: /* ------------------------------------------------------------------------- */\A 15: \A 16: /* ==========================\A 17: 	BEGIN TRAINING PARTIAL"; }
