@charset "UTF-8";
/* ==========================================================================

Author: Kristof Hermans
Author website: http://kristofhermans.be/

Project name: 
Project address: 

Technology: SASS
Methodology: SMACSS

Date: September, 18th 2014

========================================================================== */
/* ==========================================================================

	BASE

========================================================================== */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body, #main {
  background: #ffffff !important; }

#navigationHolderContainer #navigationHolder {
  background: #555555; }

#homepage-wrapper {
  box-sizing: border-box;
  color: #454545;
  font-size: 75%;
  line-height: 1.5; }
  #homepage-wrapper *, #homepage-wrapper *:before, #homepage-wrapper *:after {
    box-sizing: inherit; }
  #homepage-wrapper img {
    max-width: 100%; }

#homepage-wrapper #xx_header .xx_slider ul li div a {
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  line-height: 37px;
  padding: 0 10px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased; }

/* ==========================================================================

	LAYOUT

========================================================================== */
/* ================================
	OPEN NESTING
================================ */
#homepage-wrapper {
  background: #ffffff;
  font-size: 13px;
  margin-left: 30px;
  max-width: 1170px;
  width: 98%;
  /* ================================
  	SLIDER
  ================================ */
  /* ================================
  	MAIN-CONTENT
  ================================ */
  /* ================================
  	CLOSE NESTING
  ================================ */ }
  @media only screen and (max-width: 1199px) {
    #homepage-wrapper {
      margin-left: 20px; } }
  @media only screen and (max-width: 767px) {
    #homepage-wrapper {
      margin-left: 0;
      width: 100%; } }
  #homepage-wrapper .xx_slider {
    margin-bottom: 108px;
    position: relative;
    width: 100%; }
    @media only screen and (max-width: 1199px) {
      #homepage-wrapper .xx_slider {
        margin-bottom: 90px; } }
    @media only screen and (max-width: 979px) {
      #homepage-wrapper .xx_slider {
        margin-bottom: 54px; } }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .xx_slider {
        margin: 10px 0; } }
  #homepage-wrapper .bottom-bar {
    pointer-events: none;
    position: absolute;
    bottom: -60px;
    width: 100%; }
    @media only screen and (max-width: 1199px) {
      #homepage-wrapper .bottom-bar {
        bottom: -50px; } }
    @media only screen and (max-width: 979px) {
      #homepage-wrapper .bottom-bar {
        bottom: -30px; } }
  #homepage-wrapper .bottom-overlay {
    max-width: 100%;
    position: absolute;
    bottom: -5px; }
    @media only screen and (max-width: 979px) {
      #homepage-wrapper .bottom-overlay {
        display: none; } }
  #homepage-wrapper .slide-copy {
    background: url(../../images/transparent-bg.png);
    color: #ffffff;
    padding: 2.7% 2.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 33%; }
    #homepage-wrapper .slide-copy h2 {
      border-bottom: 2px solid #ffffff;
      font-family: "Proxima Nova Extra Condensed";
      font-size: 72px;
      font-weight: 100;
      line-height: 72px;
      margin: 0 0 .6em;
      padding-bottom: .05em; }
    #homepage-wrapper .slide-copy p {
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 100; }
  #homepage-wrapper .overall-cta {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; }
  #homepage-wrapper .slide-cta {
    background: url(../../images/transparent-bg.png);
    border: 3px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 100;
    padding: 9px 15px;
    position: absolute;
    right: 30px;
    bottom: 110px;
    text-decoration: none; }
    #homepage-wrapper .slide-cta:after {
      content: "";
      font-family: "FontAwesome", "Font Awesome";
      margin-left: 78px;
      padding: 0 5px; }
  #homepage-wrapper .bx-wrapper {
    margin-bottom: 0; }
  #homepage-wrapper .bx-viewport.bx-viewport {
    border: none;
    box-shadow: none;
    height: auto !important;
    left: 0; }
  #homepage-wrapper .bx-pager {
    display: block !important;
    margin: 0 auto; }
    #homepage-wrapper .bx-pager.one-slide {
      width: 120px; }
      @media only screen and (max-width: 979px) {
        #homepage-wrapper .bx-pager.one-slide {
          width: 90px; } }
    #homepage-wrapper .bx-pager.two-slides {
      width: 274px; }
      @media only screen and (max-width: 979px) {
        #homepage-wrapper .bx-pager.two-slides {
          width: 200px; } }
    #homepage-wrapper .bx-pager.three-slides {
      width: 428px; }
      @media only screen and (max-width: 979px) {
        #homepage-wrapper .bx-pager.three-slides {
          width: 310px; } }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .bx-pager {
        display: none !important; } }
    #homepage-wrapper .bx-pager a {
      float: left;
      margin-right: 34px;
      pointer-events: auto; }
      #homepage-wrapper .bx-pager a:last-child {
        margin-right: 0; }
      @media only screen and (max-width: 979px) {
        #homepage-wrapper .bx-pager a {
          margin-right: 20px;
          width: 90px; } }
    #homepage-wrapper .bx-pager img {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  #homepage-wrapper .bx-controls, #homepage-wrapper .bx-controls-direction {
    pointer-events: none;
    height: 100%;
    width: 100%; }
    #homepage-wrapper .bx-controls .bx-prev, #homepage-wrapper .bx-controls .bx-next, #homepage-wrapper .bx-controls-direction .bx-prev, #homepage-wrapper .bx-controls-direction .bx-next {
      pointer-events: auto; }
  #homepage-wrapper .bx-controls {
    display: none;
    height: 95%;
    position: absolute;
    top: 0; }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .bx-controls {
        display: block; } }
    #homepage-wrapper .bx-controls .bx-prev.bx-prev {
      background: url(../../images/slider-controls@2x.png) no-repeat 0px center;
      background-size: cover;
      position: absolute;
      top: inherit;
      bottom: 40%;
      left: 4px; }
    #homepage-wrapper .bx-controls .bx-next.bx-next {
      background: url(../../images/slider-controls@2x.png) no-repeat -34px center;
      background-size: cover;
      position: absolute;
      top: inherit;
      bottom: 40%;
      right: 4px; }
  #homepage-wrapper .bxslider {
    margin-left: 0; }
    #homepage-wrapper .bxslider li {
      display: block;
      position: relative;
      height: 410px; }
  @media (max-width: 1199px) {
    #homepage-wrapper .bxslider {
      margin-left: 0; }
      #homepage-wrapper .bxslider li {
        position: relative;
        height: 330px; } }
  @media (max-width: 979px) {
    #homepage-wrapper .bxslider {
      margin-left: 0; }
      #homepage-wrapper .bxslider li {
        position: relative;
        height: 256px; } }
  @media (max-width: 767px) {
    #homepage-wrapper .bxslider {
      margin-left: 0; }
      #homepage-wrapper .bxslider li {
        position: relative;
        height: 260px; } }
  #homepage-wrapper .content-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 18px;
    max-width: 100%;
    width: 100%; }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .content-row {
        display: none; } }
    #homepage-wrapper .content-row:after {
      clear: both;
      content: "";
      display: table; }
  #homepage-wrapper .department-block, #homepage-wrapper .product-department, #homepage-wrapper .product-category, #homepage-wrapper .gender-split, #homepage-wrapper .gender, #homepage-wrapper .gender-transition {
    display: inline-block;
    float: left;
    line-height: 100%;
    position: relative; }
    #homepage-wrapper .department-block img, #homepage-wrapper .product-department img, #homepage-wrapper .product-category img, #homepage-wrapper .gender-split img, #homepage-wrapper .gender img, #homepage-wrapper .gender-transition img {
      float: left; }
    #homepage-wrapper .department-block:last-child, #homepage-wrapper .product-department:last-child, #homepage-wrapper .product-category:last-child, #homepage-wrapper .gender-split:last-child, #homepage-wrapper .gender:last-child, #homepage-wrapper .gender-transition:last-child {
      margin-right: 0; }
  #homepage-wrapper .product-department p, #homepage-wrapper .product-category p {
    background: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
    @media only screen and (max-width: 979px) {
      #homepage-wrapper .product-department p, #homepage-wrapper .product-category p {
        font-size: .8em; } }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .product-department p, #homepage-wrapper .product-category p {
        display: none; } }
  #homepage-wrapper .product-department {
    height: 323px;
    margin-right: 6px;
    max-width: 288px;
    width: 24.6153846154%; }
    @media only screen and (max-width: 1199px) {
      #homepage-wrapper .product-department {
        height: 260px;
        margin-right: 4px; } }
    @media only screen and (max-width: 979px) {
      #homepage-wrapper .product-department {
        height: 201px; } }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .product-department {
        margin-bottom: 1em;
        width: 48.6754966887%; } }
    #homepage-wrapper .product-department p {
      padding: 10px 10% 60px;
      text-align: center; }
    @media only screen and (max-width: 1199px) {
      #homepage-wrapper .product-department .cta {
        margin-left: -45.1219512195%;
        width: 90.243902439%; } }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .product-department:first-child + .product-department {
        margin-right: 0; } }
  #homepage-wrapper .product-category {
    height: 324px;
    max-width: 49.6280%; }
    @media only screen and (max-width: 1199px) {
      #homepage-wrapper .product-category {
        height: 259px; } }
    @media only screen and (max-width: 979px) {
      #homepage-wrapper .product-category {
        height: 199px; } }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .product-category {
        margin-top: 20px;
        max-width: 100%;
        width: 100%; } }
    #homepage-wrapper .product-category p {
      padding: 10px 36.0824742268% 22px 5.1546391753%;
      text-align: left; }
      @media only screen and (max-width: 979px) {
        #homepage-wrapper .product-category p {
          padding-right: 46.9613259669%; } }
    #homepage-wrapper .product-category .cta {
      position: absolute;
      left: inherit;
      right: 3.4364%;
      width: 29.2096219931%; }
      @media only screen and (max-width: 979px) {
        #homepage-wrapper .product-category .cta {
          width: 40.0552486188%; } }
      @media only screen and (max-width: 767px) {
        #homepage-wrapper .product-category .cta {
          width: 50%; } }
  #homepage-wrapper .gender-split {
    width: 74.7863%; }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .gender-split {
        width: 100%; } }
  #homepage-wrapper .gender {
    float: left;
    max-width: 386px;
    width: 44.065%; }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .gender {
        width: 50%; } }
  #homepage-wrapper .gender-transition {
    float: left;
    max-width: 104px;
    width: 11.87%; }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .gender-transition {
        display: none; } }
  #homepage-wrapper .cta {
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    margin-left: -29.5138888889%;
    padding: 0 10px 0 7px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    text-decoration: none;
    width: 59.0277777778%; }
    #homepage-wrapper .cta:after {
      content: "";
      float: right;
      font-family: "FontAwesome", "Font Awesome";
      font-size: .8em; }
    #homepage-wrapper .cta:hover {
      padding-right: 7px; }
  #homepage-wrapper .cta-dark {
    background: url(../../images/transparent-bg.png);
    border: 2px solid #ededed;
    color: #ededed;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out; }
    #homepage-wrapper .cta-dark:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      color: #ffffff; }
    @media only screen and (max-width: 767px) {
      #homepage-wrapper .cta-dark.de-fix {
        font-size: 11px; } }
  #homepage-wrapper .cta-light {
    background: #ffffff;
    border: 2px solid #454545;
    color: #454545;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out; }
    #homepage-wrapper .cta-light:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 767px) {
    #homepage-wrapper .cta-gender {
      margin-left: 0;
      position: absolute;
      left: 5%;
      bottom: 10px;
      width: 90%; } }
  @media only screen and (max-width: 767px) {
    #homepage-wrapper .hide-mobile {
      display: none; } }
  #homepage-wrapper .clearfix:after {
    clear: both;
    content: "";
    display: table; }

/* ==========================================================================

	MODULES

========================================================================== */
/* ================================
	OPEN NESTING
================================ */
/* *********************************************************************************************************** */
/* **                                            10% SCHOENEN                                               ** */
/* *********************************************************************************************************** */
#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo {
  background: url("http://static.asadventure.com/includes/homepage/national/images/bg-schoenen-promo-nl.jpg") no-repeat;
  overflow: hidden; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix {
    background: url("http://static.asadventure.com/includes/homepage/national/images/bg-schoenen-promo-fr.jpg") no-repeat; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix {
    background: url("http://static.asadventure.com/includes/homepage/national/images/bg-schoenen-promo-en.jpg") no-repeat; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.de_fix {
    background: url("http://static.asadventure.com/includes/homepage/international/images/bg-10procent-outdoorschoenen-int.jpg") no-repeat; }

#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content {
  z-index: 2;
  position: absolute;
  background: url("http://static.asadventure.com/includes/homepage/national/images/label.png");
  width: 334px;
  height: 355px;
  top: 8%;
  left: 5%;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 38px; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .main-title {
    font-family: 'Palatino Linotype', 'Palatino', serif;
    font-style: italic;
    font-weight: 100;
    font-size: 23px;
    color: #313131;
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 8px; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .main-title span {
      color: #ef7d00;
      font-family: 'Palatino Linotype', 'Palatino', serif !important;
      font-size: inherit;
      font-style: inherit; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal {
    font-family: 'Arial', 'Arial', 'Helvetica', sans-serif;
    font-size: 10px;
    position: relative;
    color: #000000; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal:after {
      content: "";
      position: absolute;
      left: 40%;
      bottom: -10px;
      height: 1px;
      width: 21%;
      border-bottom: 1px solid #000; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .brands {
    width: 225px;
    height: auto;
    display: inline-block; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 5px; }

#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta {
  width: 100px;
  font-weight: 600;
  display: inline-block;
  margin-top: 4%;
  background-color: #d67c1d; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta:after {
    content: "\f04b";
    /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 10px;
    color: inherit; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta:hover {
    background-color: #c37625; }
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta:first-child {
    margin-right: 10px; }

#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .main-title,
#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .main-title {
  font-size: 21px; }

#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content,
#homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content {
  padding: 35px;
  padding-top: 43px; }

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content {
    z-index: 2;
    width: 296px;
    height: auto;
    top: -3px;
    right: 19px;
    padding: 35px;
    background-size: 296px auto; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .main-title {
      font-size: 20px; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal {
      margin-bottom: 8px; }
      #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal:after {
        display: none; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta {
    width: 95px;
    margin-top: 10px;
    font-size: 11px; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta:first-child {
      margin-right: 6px; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content {
    padding-top: 37px; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .main-title,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .main-title {
    font-size: 17px; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .xx_cta_container .xx_cta,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .xx_cta_container .xx_cta {
    font-size: 12px; } }
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content {
    z-index: 2;
    width: 334px;
    height: auto;
    top: -40px;
    right: -0px;
    padding: 25px;
    background-size: 334px auto;
    padding-top: 55px; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .main-title {
      font-size: 20px; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal {
      margin-bottom: 8px; }
      #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal:after {
        display: none; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta {
      text-align: left;
      padding-left: 4%;
      margin-bottom: 0; }
      #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta:after {
        display: block;
        font-size: 8px; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content {
    padding-top: 57px; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .main-title,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .main-title {
    font-size: 18px;
    line-height: 107%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta:after {
    height: 25px; } }
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix {
    background: url("http://static.asadventure.com/includes/homepage/national/images/bg-schoenen-promo-mobile@2x.jpg") no-repeat; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content {
    background: none;
    padding: 0;
    left: 3px;
    top: 4%;
    width: 63%;
    margin: 0 auto; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .main-title,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .main-title,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .main-title {
      font-size: 15px;
      margin-bottom: 1.5%; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .legal,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .legal,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .legal {
      font-size: 8px;
      margin-bottom: 0; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .brands,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .brands,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .brands {
      display: none; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .xx_cta_container .xx_cta,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .xx_cta_container .xx_cta {
    width: 75px;
    font-size: 8px;
    margin-bottom: 1%;
    padding-left: 2%;
    margin-top: 6px; }
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo .content .xx_cta_container .xx_cta:after,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content .xx_cta_container .xx_cta:after,
    #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content .xx_cta_container .xx_cta:after {
      font-size: 7px; }

  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.fr_fix .content,
  #homepage-wrapper #xx_header .xx_slider ul li.schoenen-promo.en_fix .content {
    top: 6%; } }
.tnf-uk {
  background: url("https://static.asadventure.com/includes/homepage/international/images/_slides/tnf.jpg") no-repeat;
  background-size: contain;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .tnf-uk {
      background: url("https://static.asadventure.com/includes/homepage/international/images/_slides/tnf_mobile.jpg") no-repeat;
      background-size: cover; } }
  .tnf-uk .tnf-uk-cta {
    background: #EB342E;
    color: #ffffff;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 1em;
    position: absolute;
    right: 8%;
    bottom: 10%;
    text-decoration: none;
    width: 27.3504273504%; }
    .tnf-uk .tnf-uk-cta:hover {
      background: #e91d17; }
    .tnf-uk .tnf-uk-cta:after {
      content: "\f04b";
      font-family: "Font Awesome", "FontAwesome";
      font-size: 8px;
      float: right; }
    @media only screen and (max-width: 1199px) {
      .tnf-uk .tnf-uk-cta {
        height: 40px;
        line-height: 40px; } }
    @media only screen and (max-width: 979px) {
      .tnf-uk .tnf-uk-cta {
        font-size: .8em;
        height: 32px;
        line-height: 32px; } }
    @media only screen and (max-width: 767px) {
      .tnf-uk .tnf-uk-cta {
        margin: 0 auto;
        position: absolute;
        left: 20%;
        bottom: 10%;
        right: inherit;
        width: 60%; } }

@media only screen and (max-width: 1199px) {
  .bottom-bar {
    bottom: -70px; } }
@media only screen and (max-width: 979px) {
  .bottom-bar {
    bottom: -50px; } }

@media only screen and (max-width: 979px) {
  .slider-wrapper {
    margin-bottom: 65px; } }
@media only screen and (max-width: 767px) {
  .slider-wrapper {
    margin-bottom: 10px; } }

/* *********************************************************************************************************** */
/* **                                             MID SEASON SALES                                          ** */
/* *********************************************************************************************************** */
#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales {
  background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-nl.jpg") no-repeat; }

#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.fr_fix {
  background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-fr.jpg") no-repeat; }

/*#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.en_fix {
  background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-en.jpg') no-repeat;
}*/
#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content {
  position: absolute;
  width: 224px;
  top: 17%;
  left: 15.4%;
  text-align: center; }
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content h2, #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-logo {
  padding-bottom: 5px;
  margin: 0 auto; }
#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-content {
  font-size: 15px;
  color: #3c241e;
  font-weight: 400;
  text-align: left;
  margin-bottom: 11px;
  border-top: 2px solid #3c241e;
  margin-top: 14px;
  padding-top: 11px; }
#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .legal {
  font-size: 11px;
  margin-top: 3%;
  color: #3c241e; }

#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta {
  width: 95%;
  font-weight: 600;
  display: inline-block;
  margin-top: 1%;
  background-color: #3c241e; }
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta::after {
    content: "\f04b";
    /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 10px;
    color: inherit; }
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta:hover {
    background-color: #4D3934; }

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content {
    width: 174px;
    top: 15%; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-content {
      font-size: 13px;
      margin-top: 8px;
      padding-top: 8px;
      line-height: 130%;
      margin-bottom: 9px; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta {
      margin: 0;
      font-size: 11px; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .legal {
      font-size: 9px;
      margin-top: 1px;
      color: #3c241e; }

  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.en_fix .xx_txt .xx_cta {
    font-size: 11px; } }
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content {
    width: 140px;
    left: 15.5%; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-logo {
      width: 100%; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-content {
      border-top: none;
      font-size: 11px;
      margin-top: 3px;
      padding-top: 0;
      line-height: 130%;
      margin-bottom: 6px; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta {
      width: 100%; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .legal {
      margin-top: 0;
      font-size: 8px;
      margin-bottom: 0; }

  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.en_fix .xx_txt .xx_cta {
    font-size: 10px; }

  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.fr_fix .content .main-content {
    font-size: 10px; } }
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales {
    background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-mobile-nl@2x.jpg") no-repeat; }

  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.fr_fix {
    background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-mobile-fr@2x.jpg") no-repeat; }

  /*	#homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.en_fix {
  		background: url('//static.asadventure.com/includes/homepage/national/new/images/bg-mid-season-mobile-en@2x.jpg') no-repeat;
  	}*/
  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content {
    width: 93px;
    left: 63px;
    top: 8%; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-logo {
      padding-bottom: 5px;
      margin: 0 auto; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .main-content {
      font-size: 7px;
      border-top: 1px solid #3c241e;
      margin-top: 1px;
      padding-top: 3px;
      margin-bottom: 3px; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta {
      font-size: 8px;
      padding-left: 0;
      text-align: center; }
      #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .xx_cta:after {
        display: none; }
    #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales .content .legal {
      font-size: 6px;
      margin-top: -2%; }

  #homepage-wrapper #xx_header .xx_slider ul li.mid_season_sales.fr_fix .content .main-content {
    font-size: 7px; } }
/* *********************************************************************************************************** */
/*                                             SLIDER BIKE 10%                                              ** */
/* *********************************************************************************************************** */
#homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent {
  background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-bike-tien-procent.jpg") no-repeat; }

#homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content {
  position: absolute;
  width: 28%;
  top: 23%;
  left: 6%; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content h2, #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content h3, #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

#homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content {
  color: #fff;
  text-align: center; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-title {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: inherit;
    margin-bottom: 2%;
    background-color: #821525;
    padding: 2% 4%;
    text-transform: uppercase; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-content {
    color: inherit;
    line-height: 120%;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 6%;
    padding: 0 6%;
    text-shadow: 0 0 15px black; }

#homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .legal {
  position: absolute;
  left: 2%;
  bottom: 2%;
  line-height: 120%;
  text-align: left;
  font-size: 11px;
  text-shadow: 0 0 5px #000;
  color: #fff;
  width: 45%;
  margin-bottom: 0; }

#homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta {
  font-weight: 600;
  width: 77%;
  text-align: left;
  margin-top: 0;
  background: #821525;
  color: #fff; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta:hover {
    background: #6e1220; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta:after {
    content: "\f04b";
    /* arrow */
    background: none;
    width: auto;
    height: auto;
    font-family: "FontAwesome";
    font-size: 10px;
    float: right;
    margin-right: 6%;
    color: inherit; }

#homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent.fr_fix .content .main-title {
  font-size: 29px; }

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content {
    top: 17%;
    width: 31%;
    left: 4%; }
    #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-title {
      font-size: 33px; }
    #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-content {
      font-size: 18px; }

  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent.fr_fix .content .main-title {
    font-size: 25px; } }
/* *********************************************************************************************************** */
/* **                                               TABLET                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 979px) {
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-title {
    font-size: 26px; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-content {
    font-size: 14px; }
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta {
    text-align: left;
    padding-left: 4%;
    margin-bottom: 6%; }
    #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta:after {
      display: block;
      font-size: 8px; }

  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .legal {
    font-size: 9px; }

  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent.fr_fix .content .main-title {
    font-size: 20px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta:after {
    height: 25px; } }
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {
  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent {
    background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-bike-tien-procent-mobile@2x.jpg") no-repeat; }

  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content {
    top: 6%;
    left: 6%;
    width: 65%; }
    #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-title {
      font-size: 19px;
      margin-bottom: 1.5%; }
    #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .main-content {
      font-size: 11px;
      margin-bottom: 5%;
      text-shadow: 0 0 5px #000; }
    #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta {
      width: 65%;
      font-size: 8px;
      margin-bottom: 1%;
      padding-left: 2%; }
      #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .content .xx_cta:after {
        font-size: 7px; }

  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent .legal {
    font-size: 7px;
    width: 100%; }

  #homepage-wrapper #xx_header .xx_slider ul li.bike-tien-procent.fr_fix .content .main-title {
    font-size: 17px; } }
/* ================================
	CLOSE NESTING
================================ */
/* ==========================================================================

	STATE

========================================================================== */
/* ==========================================================================

	THEME

========================================================================== */
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../font/helvetica_neue_condensed_bold/HelveticaNeue-CondensedBold.eot");
  /* IE9 Compat Modes */
  src: url("../../font/helvetica_neue_condensed_bold/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../../font/helvetica_neue_condensed_bold/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../../font/helvetica_neue_condensed_bold/HelveticaNeue-CondensedBold.svg#453667434e93dceb51173a1d61030e95") format("svg"), url("../../font/helvetica_neue_condensed_bold/HelveticaNeue-CondensedBold.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 700; }
