/* ==========================================================================

Author: Kristof Hermans
Author website: http://kristofhermans.be/

Project name: 
Project address: 

Technology: SASS
Methodology: SMACSS

Date: September, 18th 2014

========================================================================== */

// BASE: applies resets
@import "partials/base.scss";

// LAYOUT: controls the layout of the page
@import "partials/layout.scss";

// MODULES: contains the sliders
@import "partials/modules.scss";

// STATE: controls states of modules
@import "partials/state.scss";

// THEME: overall theming
@import "partials/theme.scss";




