/* *********************************************************************************************************** */
/*                                             SLIDER jackwolfskin                                         ** */
/* *********************************************************************************************************** */
#homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin {
  background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-jackwolfskin.jpg") no-repeat; }

#homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content {
  position: absolute;
  width: 60%;
  top: 8%;
  left: 3%;
  color: #fff;
  text-align: left; }
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content h2,
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-title {
    display: inline-block;
    font-weight: 100;
    font-size: 40px;
    line-height: 120%;
    color: inherit;
    /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
    text-transform: uppercase;
    margin: 0; }
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-content {
    /*text-shadow: 0 0 80px black;*/
    font-size: 18px;
    margin: 1.1em auto 1.5em;
    width: 100%;
    line-height: 130%; }

#homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .xx_cta {
  font-weight: 600;
  width: 230px;
  text-align: left;
  margin-top: 0;
  background: #b0233d;
  color: #ffffff;
  margin-bottom: 7%; }
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .xx_cta:hover {
    background: #961e34;
    color: #ffffff; }

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content {
    width: 52%; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-title {
      font-size: 32px; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-content {
      font-size: 16px; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .xx_cta {
      width: 208px; }

  /* *********************************************************************************************************** */
  /* **                                               TABLET                                                  ** */
  /* *********************************************************************************************************** */ }
@media (max-width: 1199px) and (max-width: 979px) {
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content {
    top: 7%; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .xx_cta {
      width: 180px;
      padding-left: 1%; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-title {
      font-size: 25px; }
      #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-title .hide_mobile {
        display: none; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-content {
      font-size: 15px;
      margin: .6em auto 1.2em;
      /*width: 80%;*/ } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .xx_cta:after {
    height: 25px; } }
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {
  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin {
    background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-jackwolfskin-mobile.jpg") no-repeat; }

  #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content {
    width: 100%;
    top: 10%;
    text-align: left;
    left: 12%; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-title {
      font-size: 15px;
      width: 39%;
      line-height: 19px;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.9); }
      #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-title.fr {
        width: 56%; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .main-content {
      font-size: 10px;
      line-height: 130%;
      width: 80%;
      margin: 0.4em auto 1em;
      float: left; }
    #homepage-wrapper #xx_header .xx_slider ul li.jackwolfskin .content .xx_cta {
      width: 51%;
      padding-left: 2%;
      padding-right: 0;
      margin: 0 auto !important;
      margin-bottom: 3% !important; } }
