/* *********************************************************************************************************** */
/*                                             SLIDER newfashionarrivals                                         ** */
/* *********************************************************************************************************** */
#homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals {
  background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-newfashionarrivals.jpg") no-repeat; }

#homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content {
  position: absolute;
  width: 38%;
  top: 10%;
  left: 33%;
  color: #fff;
  text-align: right; }
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content h2,
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-title {
    display: inline-block;
    font-weight: 100;
    font-size: 40px;
    line-height: 120%;
    color: inherit;
    /*text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);*/
    text-transform: uppercase;
    margin: 0; }
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-content {
    text-shadow: 0 0 80px black;
    font-size: 18px;
    margin: 1.1em auto 1.5em;
    width: 100%;
    line-height: 130%; }

#homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .xx_cta {
  font-weight: 600;
  width: 49%;
  display: block;
  float: right;
  margin-top: 0;
  background: #ffa200;
  color: #ffffff;
  margin-bottom: 2%; }
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .xx_cta:hover {
    background: #e08f00;
    color: #ffffff; }

/* *********************************************************************************************************** */
/* **                                              DESKTOP                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 1199px) {
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-title {
    font-size: 32px; }
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-content {
    font-size: 16px; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-content.fr {
      font-size: 15px; }
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .xx_cta {
    /* width: 34%;*/ }

  /* *********************************************************************************************************** */
  /* **                                               TABLET                                                  ** */
  /* *********************************************************************************************************** */ }
@media (max-width: 1199px) and (max-width: 979px) {
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content {
    top: 7%; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .xx_cta {
      width: 180px;
      padding-left: 1%;
      margin-bottom: 2% !important;
      text-align: left; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-title {
      font-size: 25px; }
      #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-title .hide_mobile {
        display: none; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-content {
      font-size: 14px;
      margin: .6em auto 1.2em;
      /*width: 80%;*/ } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .xx_cta:after {
    height: 25px; } }
/* *********************************************************************************************************** */
/* **                                               MOBILE                                                  ** */
/* *********************************************************************************************************** */
@media (max-width: 767px) {
  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals {
    background: url("//static.asadventure.com/includes/homepage/national/new/images/bg-newfashionarrivals-mobile.jpg") no-repeat; }

  #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content {
    width: 100%;
    top: 21%;
    text-align: center;
    left: 0%; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-title {
      font-size: 18px; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .main-content {
      font-size: 10px;
      line-height: 130%;
      width: 80%;
      margin: 1.2em auto 1.7em; }
    #homepage-wrapper #xx_header .xx_slider ul li.newfashionarrivals .content .xx_cta {
      width: 37%;
      padding-left: 2%;
      padding-right: 0;
      margin: 0 auto !important;
      margin-bottom: 3% !important;
      display: inline-block;
      float: inherit; } }
